[2016-06-19 11:53] metincansiper opened #1 "Integration of cytoscape.js-undo-redo into cytoscape.js-expand-collapse"
It seem that we do not have this integration yet. In demo expand/collapse operations can be undone/redone. However, nearly everthing about this functionality is handled in 'demo.html'. However, 'demo.html' is just a kind of sample application. This should be handled in extension itself in a way that if 'undoable' option is not truthy then we should simply do the operation as we do now. However, if

[2016-06-19 19:37] mrsfy commented on #1
In demo.html, there is only the usage of undo-redo and standard usage without undo-redo is in comments. Also, the implementation of undo-redo is in undoRedoUtilities.js. However, it would be better if I make demo.html undo-redo agnostic and demo-undoable.html with undo application.  Current implementation adds expand/collapse as actions to the undo-redo like the [default actions](https://github.co

[2016-06-21 12:40] #1 closed

[2016-06-21 18:43] maxkfranz opened #2 "Event callback signature in docs"
`cy.on("afterExpand", function(node) { })` should be `cy.on("afterExpand", function(event) { var node = this; ...  })`

[2016-06-22 11:49] mrsfy commented on #2
It would be better, thanks but there is a minor issue.
Now, `cy.nodes().on("afterExpand", function(event) { var node = this; ... })` works properly but `cy.on("afterExpand", function(event) { var node = this; ... })` _this_ value is not a node. It is a scope including _private & one of my variables.

I am using `node.trigger("afterExpand")` to emit event. I also tried `cy.trigger.call(node, "after

[2016-06-22 15:05] maxkfranz commented on #2
Typo: `cy.on("afterExpand", function(event) { var cy = this; ... })`

If you want the node, you have to bind directly to the node or use a delegate selector.

I've confirmed this working fine in the console:

[code]

[2016-06-22 19:18] mrsfy commented on #2
After the commit above, it works now as expected.

[2016-07-13 13:16] metincansiper opened #4 "Error in expand node operation"
In my local "demo.html" copy I added "'content': 'data(id)'" to the node style to be able to indetify the id's of the nodes.

I go through the following steps in order,

collapse p0
collapse n2
collapse n3
expand n2

Then the last expand operation is failed with the following warnings,

![expand-collapse-errors](https://cloud.githubusercontent.com/assets/6534865/16804569/19f4f9a2-4915-11e6-9b0f-08

[2016-07-14 14:11] aindlq opened #5 "Hide edges for collapsed nodes."
Would it be possible to add the ability to hide all edges for collapsed nodes? Would you like to have this functionality as part of this plugin?

If so I can provide a PR, if you could point me to the proper places. From a quick look it seems that I just need to hook into simpleCollapseNode and simpleExpandNode and hide/show all incoming/outgoing edges.

Or maybe in case of this option we can just

[2016-07-14 18:52] #2 closed

[2016-07-14 18:55] ugurdogrusoz commented on #4
I don't know if this is the same bug but here is how I get one with the daily editor build:
- collapse the compound in the middle (of the default map)
- collapse the compound on the right
- expand the collapsed node in the middle; fish eye works file (neighboring nodes are pushed away) but expand doesn't take place (stays collapsed). see the console for crash details.

[2016-07-15 07:20] aindlq commented on #5
Thank you for the response. I didn't know abou the ability to style "meta" edges. I think it is sufficient for my use case to hide/style them differently if needed.

One issue that I observe that all edges for nodes related to compound nodes are marked with "meta" class.
E.g if all compound nodes are expanded so there are no visible "meta" edges for compound nodes. Edges for nodes which are inside

[2016-07-15 07:23] ugurdogrusoz commented on #5
If so, it's a bug. We'll look into this.

[2016-07-15 07:24] aindlq commented on #4
jfyi, I'm getting the same error time to time. Will try to reproduce with minimal example.

[2016-07-15 07:28] ugurdogrusoz commented on #4
thanks. actually, fyi, recently we refactored some functionality out of SBGNViz.js as Cytsocape.js extensions, and during this transitions some bugs were introduced.

[2016-07-15 07:30] aindlq commented on #4
I've just tried to reproduced, and it is definitely stochastic issue, kind of a weird race condition. Because it happens to me time to time, but not always. Even when I do exactly same set of actions.

[2016-07-15 11:13] metincansiper opened #6 ""meta" class is not removed"
As @aindlq pointed out in #5, when a node is collapsed and expanded back the "meta" edges, created upon collapse operation, are removed and the original edges are restored back. However, unexpectedly these original edges have "meta" class though they are not "meta" edges.

[2016-07-15 12:55] #5 closed

[2016-07-15 17:04] mrsfy commented on #6
Collapse operation simply works as following for edges as I understood:
1. Add "meta" classes to connected edges.
2. Remove connected edges
3. Add new "meta" edges to collapsed compound with meta class.

I commented out 1st step. But it might be required for something else that I don't know. Please check demo.html.
I colored meta edges as red in demo.html.

[2016-07-18 07:09] metincansiper commented on #6
I think that it is working fine in "demo.html".

"meta" class is already being added to the edges which are supposed to be "meta" while they are just created. Therefore, as you said the first step is not needed and it seems that it is the cause of the bug.

You can close the issue when you publish the new version.

[2016-07-18 09:32] ugurdogrusoz commented on #4
A simpler example to reproduce this bug:
- load attached map
- collapse C1
- collapse C2
- expand C1 (it won't expand)
[expand-bug.sbgnml.txt](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/files/368671/expand-bug.sbgnml.txt)

[2016-07-18 09:44] aindlq commented on #4
I've tried to debug it. The issue is somewhere inside cytoscape restore function.

One obvious bug is here https://github.com/cytoscape/cytoscape.js/blob/b12d751d39e5a0cb9b8edd92d9dda10c2cbebe4c/src/collection/index.js#L306, `l` variable is fixed in the begginig of for loop, but then removeFromElements can change the size of the elements collection. But `l` will not be re-evaluated.

I'm trying to

[2016-07-18 10:16] aindlq commented on #4
Ok, found the pattern. It fails when there outgoing edges from the nodes inside one collapsed compound node to nodes inside other collapsed compound node.

E.g: http://jsbin.com/nogasigaya/edit?html,output
wait until everything is collapsed and then try to expand W3C1 node.

[2016-07-18 13:08] ugurdogrusoz commented on #4
Thanks for you help @aindlq. We think we know the problem and we're trying to fix it (not a straightforward one). Thanks for your patience.

[2016-07-18 16:07] mrsfy commented on #6
To fix #4 , we need to make significant changes on "meta" edge specification. Thus, we agreed on that we should publish new version for #4. Till then, this issue should be open as a reference.

[2016-07-19 09:01] metincansiper commented on #4
We fixed this bug and commited the changes. #6 seems to be solved too with these commits. @ugurdogrusoz if you approve we can publish new version.

[2016-07-19 09:54] #6 closed

[2016-07-19 09:55] ugurdogrusoz commented on #4
Great job @metincansiper @mrsfy. @aindlq, could you confirm as well?

[2016-07-19 10:06] aindlq commented on #4
Indeed a great job. Thank you!

Can confirm that both have been fixed, see http://jsbin.com/kevujuhoxe/edit?html,output.

[2016-07-19 10:12] ugurdogrusoz commented on #4
This example works fine as well. Btw, any particular reason you have animation=true instead of animation=end for your layouts in this example? I suggest you try it.

[2016-07-19 10:12] #4 closed

[2016-07-19 10:20] aindlq commented on #4
No good reason, I think I simply copy-pasted it from README.md

[2016-07-21 13:31] aindlq opened #7 "Should collapsed compound node still behave as "compound node"?"
As I understand when node is collapsed, technically it is still a compound node and not just a simple node, right?
If so, is it necessary to keep it as compound node when it is collapsed?
The issue with compound nodes is that one can't really edit their dimensions, it is understandable when node actually has some children but it is very limiting when node is collapsed.

E.g for collapsed nodes I'm

[2016-07-21 13:52] aindlq commented on #7
Another use case is that when nodes are collapsed I want them to be of the same size so I can put some image as a background.

[2016-07-22 08:50] ugurdogrusoz commented on #7
@mrsfy Can we set collapsed nodes as "simple" without causing any problems so that the user is free to resize them?

[2016-07-22 09:06] mrsfy commented on #7
@aindlq please correct if I am wrong:
In cytoscape.js, if a node has at least a child, it is parent. It sets automatically.
Collapse operation removes all children of parent. Thus, parent becomes a simple node. Afterwards, it should be styled like a simple node.

I also ensured that `ele.isParent()` gives `false` for a collapsed node.

[2016-07-22 09:34] aindlq commented on #7
Hm, that is really strange. I can confirm that collapsed compound node is not matched by parent selector. Why then collapsed node behave differently from simple node? E.g

http://jsbin.com/jegujezejo/edit?html,output

There is simple node, which expands to label size, it works fine. If you try to collapse compound node, I would expect the same behaviour, but it behaves differently.

It can be cyto

[2016-07-22 10:11] aindlq commented on #7
I can confirm that this is cytoscape bug. See http://jsbin.com/fujocekaso/1/edit?html,output

[2016-07-22 10:11] #7 closed

[2016-07-22 10:57] mrsfy commented on #7
I will inspect it detailed. Also, we should report it when we understood the bug completely.

[2016-07-22 15:48] aindlq commented on #7
Has been fixed upstream - https://github.com/cytoscape/cytoscape.js/issues/1463

[2016-08-18 13:15] superbobry opened #10 "Ellipse nodes aren't expanded"
To reproduce add the following style:

[code]

[2016-08-18 13:48] superbobry opened #11 "Collapse edges between collapsed nodes"
Currently the edges between collapsed nodes are left "as-is", i.e. if two nodes were collapsed into a supernode, the supernode has two incoming (or outgoing) edges. I wonder if it is possible to collapse the edges if the other side of each edge points to another supernode?

![image](https://cloud.githubusercontent.com/assets/185856/17775947/48f5154c-6563-11e6-9979-6d5d748ac767.png)

[2016-08-18 14:12] ugurdogrusoz commented on #11
When compound nodes are collapsed, we create one meta edge per inter-graph edge coming out of / going into the collapsed compound. In case there are multiple such edges, we end up with multiple meta edges (multiple meta edges with the same source and target). We could implement an option named collapseMetaEdges to not generate more than one meta edge when true. Notice that this applies to situatio

[2016-08-18 14:20] ugurdogrusoz commented on #10
Looks like this is because we draw the expand-collapse cues at the upper left corner, which happens to be outside node boundaries in case of ellipses! If you must use ellipses, you might want to consider putting these cues inside the node.

@metincansiper @mrsfy Can one position these ques say "towards" upper left (a certain offset away from upper left) using published API of this extension?

[2016-08-18 14:40] superbobry commented on #11
Thank you for a quick reply! I like the idea of having an extra option and I'm fine with it applying in the case where there is a single meta node.

[2016-08-18 15:23] aindlq commented on #11
As a workaround you can play around with meta edge styling. E.g
[code]

This way, at least visually edges will be collapsed into one.

[2016-08-18 17:11] superbobry commented on #11
Thanks, @aindlq, I'll give that a try!

On a slightly unrelated note: the fact that edges are replaced by meta edges seems to somehow break the qtip plugin. I.e. the following does NOT result in tooltips for meta edges:

[code]

Is this a known issue?

[2016-08-18 19:34] aindlq commented on #11
Are you doing this when you already have "meta" edges in cy.edges() or in the beginning when all nodes are expanded? If later is the case, you need to make sure that you initialize qtip on these new meta edges as well.

[2016-08-19 07:24] metincansiper commented on #10
Yes there is 'expandCollapseCuePosition' option for this purpose. However, I realized that this feature was buggy and I fixed the related bug. It must be working well in version '1.1.2'.

For example if you want the cues to be rendered at the node centers it can be used in the following way:

      expandCollapseCuePosition: function(ele) {
            return ele.position()
      }

[2016-08-19 07:57] metincansiper opened #12 "TypeError: Cannot set property 'cytoscapeExpandCollapse' of undefined"
It seems that an issue similar (not the same) to this one ( iVis-at-Bilkent/cytoscape.js-context-menus#5 ) exists in this repository as well.

Please try the following link: https://tonicdev.com/56dd390fafca530d006e8a75/57b6b9d9138af81400a6481b

[2016-08-19 08:50] ugurdogrusoz commented on #10
In that case, I consider this issue invalid.

[2016-08-19 08:50] #10 closed

[2016-08-19 12:59] superbobry commented on #11
This was indeed the case. Thank you!

[2016-08-19 16:10] superbobry opened #13 "Performance"
I've noticed that calling `cy.collapseAll` on a graph (250 nodes, 70 edges) takes almost twice as long as computing the layout/rendering. I don't quite understand the machinery behind `expand-collapse`, but I wonder if there's been any benchmarks to evaluate its performance?

**Update**: I did some profiling and it seems the longest operation is [`eles.move`](http://js.cytoscape.org/#collection/gr

[2016-08-22 09:19] superbobry commented on #13
Adding `cy.batch` to `collapseBottomUp` and `expandTopDown` improved the running time quite a bit. I understand that this isn't an option if animation is enabled, but otherwise it looks like a worthy special case.

[2016-08-30 16:52] somedmguy opened #14 "Disabling expand/collapse cue breaks Cytoscape"
Passing `cueEnabled: false` to `cy.expandCollapse()` breaks Cytoscape.

I suspect this is due to calling `cy.off()` with undefined event handlers causing all handlers (including the core's) to be unbound.

[2016-08-30 16:55] somedmguy opened #15 "Expand cues are drawn for hidden collapsed nodes"
add `'visibility': 'hidden'` to the collapsed node style in the demo to get:

![image](https://cloud.githubusercontent.com/assets/21342204/18098591/bcb3020e-6e97-11e6-8470-c87a9a2a7d73.png)

[2016-09-21 13:05] ugurdogrusoz commented on #15
I don't know if it's related but I also notice that the cues are not drawn in correct locations during animation or some interactive operations.

[2016-09-22 10:56] metincansiper commented on #12
This problem seems to be solved now.

[2016-09-22 10:56] #12 closed

[2016-10-06 11:32] metincansiper opened #16 "Change the name of state value from 'expanded-collapsed' to collapsed'"
We need to change the name of the state value as described in the title and make it taking boolean value. In this way we get rid of seting its value as 'expanded' on load. It seems that this is a better and safer approach. Please see ( https://github.com/iVis-at-Bilkent/sbgnviz-js/issues/166 ).

Also we need to keep this value in 'scratch' instead of 'data' (As it is expected from a Cy.js extensio

[2016-10-07 09:34] metincansiper commented on #13
@superbobry Thanks for your help, the performance of related operations seems to be increased. I Added 'cy.batch()' to 'collapseBottomUp()' in collapse operation there is no animation other than end layout, so there is no problem related to animation.

For expand case I added 'cy.batch()' to 'simpleExpandNode()' with the condition of animate parameter is false. This should work for expand all as w

[2016-10-17 06:37] VarunWachaspati opened #17 "By Default All Nodes should be collapsed to enhance Performance"
I have been trying to get all compound nodes in collapsed form by default.
For achieving this I changed the cy.expandCollapse() function, by changing the following on line 1333 in cytoscape-expand-collapse.js -
` cy.nodes(':parent').data('expanded-collapsed', 'collapsed');`

When I did the above I got an error in cueUtilities.js line 72 [Uncaught TypeError: Cannot read property 'options' of undefi

[2016-10-17 07:54] metincansiper commented on #17
@VarunWachaspati In that line "cy.nodes(':parent').data('expanded-collapsed', 'collapsed');" it is specified that all parent nodes are expanded by default. This line is not expanding the nodes and if you changed 'expanded' as 'collapsed' it will not collapse them ( Actually we will remove this line in the future please see #16 ). If you change a source file such as 'cueUtilities.js' you need to ru

[2016-10-17 08:33] VarunWachaspati commented on #17
@metincansiper Thanks for the swift reply. I am using `cy.collapseAll();` as of now, but this still doesn't improve my performance of rendering for large graphs.

Closing the issue

[2016-10-17 09:17] VarunWachaspati opened #18 "Loss of Topological Ordering of Graph after Collapsing/Expanding"
When the graph gets rendered in expanded form it appears like this i.e. with Topological Ordering -
![graph3](https://cloud.githubusercontent.com/assets/7585096/19431656/f344e792-9476-11e6-823e-434ed2cb0303.png)

But when I collapse/expand node, initially the same ordering is maintained but after a couple seconds maybe even minutes depending on the size of the graph elements.

Just a few pictures

[2016-10-17 10:54] #13 closed

[2016-10-17 10:57] ugurdogrusoz commented on #17
@VarunWachaspati I have some questions:
- What is the size (# nodes/edges) of your graph after all compounds collapsed?
- When you say you're still not satisfied with the performance, are you referring to
    o time it takes to perform collapse all, or
    o time it takes to interact with the graph (where all compounds are collapsed), or
    o time it takes to layout your graph (where all compound

[2016-10-17 11:04] ugurdogrusoz commented on #18
@VarunWachaspati Are you complaining about the order of collapsed nodes (those with + sign) being re-arranged? You could turn off layout after expand-collapse (see the option "layoutBy"). Performing automatic layout on this kind of a graph will of course change your mental map / manual layout.

[2016-10-18 14:20] metincansiper commented on #17
@VarunWachaspati If it is something accepable for your case did you try to collapse just the top most level parent nodes by using 'cy.nodes(":parent").orphans().collapse()'? I think that this may be better in terms of performance.

[2016-10-19 16:58] botev opened #19 "HTML example"
I know this is a pretty dumb question, but I found so far the easiest way to get started with something is by having an example to read, e.g. for instance how to easily make something press able so I can use your extension and so on.

Again, this is probably very straightforward, but I haven't really programmed too much with js as I'm a researcher, but want to use your extension for some hierarchi

[2016-10-19 18:23] #19 closed

[2016-10-19 19:37] ugurdogrusoz commented on #19
@botev Expand-collapse is a major mechanism for managing complexity of your networks if you have a way to represent your relational information using nesting relations (i.e. compounds). For instance, if you have 100 high level nodes, each containing another 100 nodes as children (a total of 10K nodes), trying to visualize and analyze all this data is rather complex. However, if you display the gra

[2016-10-19 21:15] botev commented on #19
Yep I got it working. Sorry for some reason initially I missed that there is an demo.html. Must have been too late I guess.

I have only one, like a suggestion. Currently when you expand a node you have to redraw the graph based on the layout. It would be nice if it is possible to expand the node approximately at its location without rearranging the whole graph. Or maybe this is an issue only with

[2016-10-20 05:56] ugurdogrusoz commented on #19
You don't have to perform layout after expand-collapse; it's optional. See "layoutBy" option of this extension.

[2016-10-20 06:57] botev commented on #19
Hmm, to some extend what I have in mind is sort of on the lines:
1. When you expand you use the layoutBy only to arrange the nodes in the expanded node, while for instance anchoring its left top corner and all other nodes. After this any nodes outside nodes which turns out to be inside the area of the expanded node should be pushed away outside.

Atm, the expand makes redraw not only the expanded

[2016-10-20 07:02] ugurdogrusoz commented on #19
Pushing neighbors away is done by "fisheye" option, which is already true by default. So all you have to do should be to set "layoutBy" null to avoid succeeding incremental layout. You shouldn't have to arrange the nodes inside the expanded node since presumably they were OK before they were collapsed. If you have to rearrange them however, you may do so by calling layout only on this child nodes

[2016-10-20 08:36] botev commented on #19
Hmm for some reason atm if I set the "layoutBy" to null, collapse the nodes and then expand them I get all nodes on top of each other? Is there a flag for retaining their positions? I will also try "cose-bilkent", I tried "cose" but found "dagre" much better, but maybe your suggestion is even better.

[2016-10-20 10:58] ugurdogrusoz commented on #19
@metincansiper will answer your question about laying out a part of a graph.

Regarding layout style to use, dagre seems to have done a very nice job in your particular example to my surprise since I thought it didn't handle compounds! I would be surprised to find out it handle arbitrary nesting levels and inter-graph edges though. With current cose-bilkent you cannot impose a hierarchy on your gr

[2016-10-20 11:49] botev commented on #19
Yes, I think I've seen some quite bad renderings from dagre as well. I guess if there was something like a "tree" layout where you have some roots and layout the DAG according to levels based on the edges directions is what I need, but that might be a bit too much sideways from what I'm doing to write it on my own. I will keep in mind and explore both of the layouts and pick whichever on average s

[2016-10-20 11:59] metincansiper commented on #19
@botev you can set 'layoutBy' parameter as just layout options or whole layout function. I think that in your case it may be a function and you can use it in the following way:

layoutBy: function() {
    // eles are the elements to layout
    eles.layout(//your layout options here)
}

Not that this extension enables users to set the options after the initilazitaion as well. If you want to set thi

[2016-10-20 12:30] botev commented on #19
@metincansiper I think that did what I wanted. I have two questions:
1. How do I pass named arguments to the function ".layout()"? or where can I find the correct ordering of the parameters.
2. With this I get a very weird behaviour - when I press the collapse icon, the node collapses as desired. However it seems that the js does not recognize the mouserelease event, and essentially the node gets

[2016-10-20 12:50] botev commented on #19
So let me make it more clear in what I want to do:

Inside this function how do I get only the children of the expanded node, such that I specify the layout only for them and not modify anything outside this node.

[2016-10-20 12:58] ugurdogrusoz commented on #19
Please refer to Cytoscape.js documentation!

[2016-10-27 12:57] metincansiper opened #20 "Meta edge style problem"
Please see 'https://github.com/iVis-at-Bilkent/chise.js/issues/84'

[2016-10-27 13:02] metincansiper commented on #20
This problem seems to be solved I can close the issue once the original one is closed.

[2016-12-05 08:26] #20 closed

[2016-12-14 12:02] metincansiper commented on #16
Now we do not keep data('expanded-collapsed'). We add a class to collapsed nodes to enable users to define a custom style for collapsed nodes. We check that class to see if a node is collapsed as well.

[2016-12-14 12:02] #16 closed

[2016-12-26 11:51] metincansiper commented on #15
@somedmguy @ugurdogrusoz now do not draw expand cues consistenly. Therefore, I think that this not be a problem.  I think that when you hide a node in the way that you described expand cue of that node (if it is rendered on that time) will not disappear instantly, but it will dissappear when you move your mouse cue in your cytoscape container.

As far as I know in cytoscape there is no special eve

[2016-12-26 12:27] metincansiper commented on #14
@somedmguy thak you for notifying and reporting this bug. I think that the problem was related to the point that you mentioned. The problem seems to be fixed now. We can close the issue if you are agree.

[2016-12-27 13:07] djangosdk opened #21 "handleNodes which can be expanded-collapsed"
Hi,
Seems very useful plugin. However I wish there was a function in which one could specify which parent nodes can have expand collapse functionality.
For example I want to add cytoscape.js-expand-collapse control to specific parents not all.
```cytoscape.js-edgehandles``` provides such functionality with a beautiful function ```handleNodes```  which can be used as a function like this

[code]

[2016-12-29 13:28] djangosdk opened #22 "Problems with AMD scope"
when using AMD, functions are under scope not under global window.

This should work but does not , _ReferenceError: cy is not defined_
[code]
This one works because of ``` window.cy = this; ```
[code]

This is confusing because there could be multiple instances of cy running in tabs for example.
expandCollpase should accept the cy it is being provided with, instead of looking for ```window.cy```

[2016-12-30 05:38] djangosdk commented on #22
this plugin does not work because of  ```window.cy``` with AMD when using bootstrap tabs for example, where each tab created dynamically has a cytoscape js and only last tab gets this control and rest don't

[2016-12-30 08:36] metincansiper commented on #22
@djangosdk Thank you for repoting the problem. I think that the problem was not specific to AMD. It seems to be solved now. If you are agree we can close the issue.

[2016-12-30 08:46] djangosdk commented on #22
@metincansiper . Fixes error now.
Seems to fix issue but i am still unable to make it work with tabs. I think i will find out more and post new issue if any

[2016-12-30 08:46] #22 closed

[2016-12-30 08:48] metincansiper commented on #22
@djangosdk thanks it would be great.

[2016-12-30 10:24] mafar opened #23 "tabs issue , need to call sizeCanvas()"
I am using layouts and inside layouts are tabs , each tab has cytoscape js  with expand collapse.
From what I have fiigured, I need to manually call internal``` sizeCanvas()``` of expand-collapse afetr tab shown or layout resized sicne my buttons hide after window resize or layout resize.

I tried calling ```cy.expandCollapse( ); // without options``` on tab shown or layout resized hoping it will

[2016-12-30 11:19] #15 closed

[2016-12-30 11:19] #14 closed

[2016-12-30 11:48] djangosdk commented on #23
Above PR fixed all our issues.

[2017-01-03 11:40] metincansiper commented on #23
@maxkfranz I think that it seems logical to listen ```cy.on('resize', function(){``` instead of  ```$(window).bind('resize', function () {``` as @djangosdk and @abeersaqib suggested, because  ```cy.resize() ``` is automatically called for you on the window‘s resize event as stated here (http://js.cytoscape.org/#cy.resize). However, as far as I see other cytoscape extensions as well listen windows

[2017-01-04 06:18] djangosdk commented on #23
Hi
Most porbably cytoscape-edge-handles extension resize is bound to ``` cy.on('resize', function(){``` because it also introduces extra canvas and its controls must be resized after cy is resized.
The order is important IMO. ( resize extra canvases other than cy-canvas after cy is resized)
With ``$(window).bind('resize', function () {``` , the order is lost.

[2017-01-04 15:48] maxkfranz commented on #23
It should be fine, though the event is currently undocumented...

https://github.com/cytoscape/cytoscape.js/issues/1665

[2017-01-05 12:45] metincansiper opened #25 "Change namespacing and triggered event names"
Namespacing:
Same of the problem here 'https://github.com/iVis-at-Bilkent/cytoscape.js-view-utilities/issues/5'

Triggered event names:
Should include the extension name as prefix

[2017-01-05 22:23] maxkfranz commented on #23
Not sufficient.  The event is undocumented, because it's not really useful unless you want to know when `cy.resize()` was called directly by the dev's code.

[2017-01-06 19:04] maxkfranz commented on #23
Until 3.1, relying on an internal `resize` event won't work.  Some extensions listen to `resize` only for when the dev calls `cy.resize()` himself (because Cytoscape can't detect all cases of when a resize would be necessary due to limitations in the browser).  I think the approach that extensions like edgehandles takes is to resize at the beginning of a gesture just before anything needs to be dr

[2017-01-16 10:05] #25 closed

[2017-01-31 22:42] asangalli opened #26 "Selecting collapsed nodes"
Hi,   I’ trying to build a Petri Net with Cytoscape.js, using Dagre.js layout and compound nodes for representing places witch in turns are subnets.
I foud very useful using Expand-Collapse extension, starting with an overall collapsed network.  As the net evolve, I’d need to update some data on every node,  including children of collapsed nodes witch users may decide to expand or not.

Here is th

[2017-02-14 17:27] ripfire44 opened #27 "Expand/Collapse Cues"
Is it possible to keep the cues visibile? I'm trying to make the expand/collapse accessible to those with touch only interface (ie tablets).

[2017-02-16 09:56] minliu4 opened #28 "$container.cytoscape is not a function"
I got a error  "$container.cytoscape is not a function"

Here is my code:

[code]

[2017-02-16 10:29] thosil commented on #28
seems to be related to a change in cytoscape itself (the way it initialize since v2.6.3)
Founded the same issue on another project with a patch that resolve the problem:
https://github.com/cytoscape/cytoscape.js-edgehandles/issues/30

[2017-02-17 03:13] minliu4 commented on #28
Thank you!
I solved the problem.  The following is my revised code.

```var jquery = window.jQuery = require('jquery')```

[2017-02-17 10:03] kinimesi commented on #28
@minliu4 if your problem is solved, can you close the issue?

[2017-02-20 10:34] #28 closed

[2017-03-08 10:11] metincansiper opened #29 "Improve readability of code"
It seems that the readability of the code decreased signaficantly when we try to syncronize animated operations. The problem especially exists in expand-collapse-utilities.js file. We need to revise it and try to improve the readability as much as possible. In worst case we can improve the comments.

[2017-03-16 10:34] abeersaqib opened #30 "Events present in the documentation not working"
[code]
won't worked while
[code]
worked fine.

in your code you are triggering  node.trigger("afterExpand");

Please update your documentation :)

Thanks !

[2017-03-16 11:17] metincansiper commented on #30
@abeersaqib I tested it seems that
[code]
is working.

I think that I forgot to update browserified file before releasing v3.0.0. If you are using v3.0.0 you may have this problem. However, it must be fixed in v3.0.1.

If v3.0.1 is working well for you we can close the issue.

[2017-03-16 11:59] abeersaqib commented on #30
@metincansiper we have bit modified your library since there were memory reference issues when library is used in Desktop mode instead of browser mode.
I don't know whether those changes were added in version 3.0.1 or not.

[2017-03-21 14:34] royludo opened #31 "Icon clicking producing weird behavior after applying color schemes"
Fixing iVis-at-Bilkent/chise.js#96 triggered this.
Using the View->Collapse/expand menu works fine. Only the top left icon clicking is glitching.

[2017-03-23 08:13] royludo commented on #31
Was calling cy.expandCollapse() instead of cy.expandCollapse('get'), which was probably triggering a reinitialization of the extension.

[2017-03-23 08:13] #31 closed

[2017-03-28 16:17] ugurdogrusoz opened #32 "Expand collapse ques with minimal size"
When you zoom out, the cues get too small, and become difficult to see let alone hit. Maybe they should be drawn at a minimal size (similar to grapples in resize extension?)

[2017-03-29 23:01] ripfire44 opened #33 "Expose as module"
I notice there is a `src/index.js` file that can expose the project as a module. Why isn't this used as `main` in the `package.json`?

[2017-03-30 10:37] kinimesi commented on #33
Fixed at unstable https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/commit/57d6753ceb8099575d4d1151f50e9afea5375df8

@ripfire44  Can you close the issue?

[2017-03-30 10:51] #32 closed

[2017-03-30 10:52] #30 closed

[2017-03-30 16:16] #33 closed

[2017-03-30 16:56] ripfire44 commented on #33
Once you expose it as a module, you need to fix the JQuery dependency on `cueUtilities.js`.  There's no guarantee that the `$` will be available on the global scope.

[2017-04-05 12:10] ugurdogrusoz opened #36 "Consistent distribution guideline drawing"
We should draw distribution guidelines consistently when the dragged node is in between two nodes (same as equally distanced outside of two nodes)

[2017-04-06 10:22] kinimesi commented on #36
@ugurdogrusoz  Why an issue related to [cytoscape.js-grid-guide extension](https://github.com/iVis-at-Bilkent/cytoscape.js-grid-guide) is opened under expand-collapse extension?

[2017-04-06 10:37] ugurdogrusoz commented on #36
https://github.com/iVis-at-Bilkent/cytoscape.js-grid-guide/issues/19

[2017-04-06 10:37] #36 closed

[2017-04-26 16:23] 21thermostat opened #37 "Neither demo-undoable.html nor demo.html works??"
I just download the master.zip. But the demo page does not work.  I got the below error:
Uncaught TypeError: $container.cytoscape is not a function
    at init (cueUtilities.js:195)
    at module.exports (cueUtilities.js:292)
    at u.expandCollapse (index.js:187)
    at HTMLDocument.<anonymous> (demo-undoable.html:96)

[2017-04-26 18:29] kinimesi commented on #37
@21thermostat demo files are broken in Cytoscape v3.0.0. Currently, we are updating our libraries. Temporarily you can run the demo files by changing line 11 in `demo.html` and `demo-undoable.html` to:

[code]

[2017-04-26 18:50] kinimesi commented on #37
@21thermostat should be fixed in https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/commit/1baafb1f6fa816619cf92e1121703a54a53cba4b Can you verify and close? Thanks.

[2017-04-26 18:54] 21thermostat commented on #37
Thanks for fast fix. Now it works fine.

[2017-04-26 18:54] #37 closed

[2017-05-17 08:00] hotpeperoncino opened #38 "How to save collapsed status of nodes in json data?"
I'd like to save the node status whether the node is collapsed or not in json data, and then restore it to the visualized graph with keeping the collapsed status. When using some libraries "collapsed" member in json data indicates the collapsed status of each nodes.
For example, the collapsed status can be stored as other json data, then after loading the elements json, according to the collapsed

[2017-05-17 08:46] royludo commented on #38
For now, you could use the data('collapsedChildren') attribute of the element for that. It stores the children of this element, when it is collapsed. So if yourElement.data('collapsedChildren') is defined and contains things, then yourElement is collapsed.

[2017-05-17 08:54] hotpeperoncino commented on #38
Thank you for your reply.  I wonder that json like
{ "data": {"id": "1", "text":"a", collapsedChildren: [ { "id":"2", "text":"b"}, {"id":3","text":"c"}] } } can be restored as collapsed graph.

[2017-05-17 09:01] royludo commented on #38
What is saved inside collapsedChildren is the entire cytoscape element. With all the cytoscape properties, as is. So I'm not sure that what you propose would work...

[2017-05-17 09:06] hotpeperoncino commented on #38
I see. It looks reasonable that I would load graph json data containing collapsed marked element data, then after loading graph json data,
applying collapsing function to the marked nodes by traversing the loaded elements.
Thank you for your comment!

[2017-05-17 09:09] hotpeperoncino commented on #38
And when saving data, the mark meaning collapsed node should be updated and the elements are exported with the marks.

[2017-06-07 15:03] metincansiper commented on #29
I tried to better explain the parameters used to syncronize animated operations in expandCollapseUtlities functions. Also I made little code changes. I did not focus on the other parts of the code.

[2017-06-07 15:03] #29 closed

[2017-06-08 11:49] alexspirtmsu opened #39 "Error: Node in node in node"
1. Initialize cytoscape:
[code]
2. Initialize expand-collapse extension with default options.
3. Collapse node '2'.
4. Move collapsed node.
5. Try to expand collapsed node and it leads to error:

[2017-06-13 06:48] ugurdogrusoz commented on #27
@ripfire44 Keeping visual cues visible all the time is problematic since they are drawn on a separate canvas and we have refresh issues. A workaround would be to not display visual cues at all but map a certain gesture on a compound to do expand/collapse.

[2017-06-13 06:50] ugurdogrusoz commented on #26
@metincansiper this should be straightforward right?
@asangalli Dagre layout won't respect compound nodes. I suggest you use cose-bilkent layout.

[2017-06-13 06:51] ugurdogrusoz commented on #23
@metincansiper is this obsolete? should we close?

[2017-06-13 17:18] ugurdogrusoz commented on #39
Solving this particular issue (https://github.com/iVis-at-Bilkent/newt/issues/53) might resolve this one.

[2017-06-14 11:02] kinimesi commented on #39
@alexspirtmsu should be fixed by 05552cd9de6d6e6c4401fe76bc2b3201e5d0fd56 in unstable branch. Can you verify and close the issue? Thanks.

[2017-06-15 10:35] alexspirtmsu commented on #39
It works. Thanks!!!

[2017-06-15 10:35] #39 closed

[2017-06-20 09:15] metincansiper commented on #26
@asangalli The children of collapsed nodes are removed, so you cannot access them through ```cy.nodes()```. However, I just exposed a getter function for the (removed) children of collapsed nodes. You can check ```getCollapsedChildren(node)``` from "https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse#api". Note that it returns both edges and nodes.

[2017-06-20 10:12] metincansiper commented on #23
@maxkfranz as far as I see in the latest version of cytoscape.js  ```cy.on('resize', function(){```  is called when ever window is resized. Can we listen to ```cy.on('resize', function(){``` instead of  ```$(window).bind('resize', function () {``` now?

[2017-06-28 08:39] metincansiper opened #40 "Bug for checking whether undoRedo extension is registered when undoable option is true"
I think that this extension considers whether undoRedo extension is registered when undoable option is true at some code segments (https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/unstable/src/undoRedoUtilities.js#L2). But it does not consider it consistently, so the extension crashes when you initilize it in undoable mode (it is undoable by default) where the undoRedo extensio

[2017-07-06 19:19] d2fong opened #43 "Weird behaviour when expanding nodes"
## Example
1.  I collapse complex nodes
2.  I run a layout
3.  Expand a complex node
4.  The position the children nodes had before the layout will be vastly different from where their parent node is now.

I am about to click the blue node to expand it using the extension api:

![screen shot 2017-07-06 at 3 16 27 pm](https://user-images.githubusercontent.com/2328291/27928730-56e67ee0-625e-11e7-9b7

[2017-07-07 09:10] ugurdogrusoz commented on #43
@d2fong This shouldn't happen even if you turn off "fisheye" and "layout" (see the behavior in Newt for instance). How do you initialize the extension? Have you looked at the settings described here: https://docs.google.com/document/d/16EX9IBmJyYmPqxbCon-r4qE-5nDWl2SB6g9-nGApkO0/edit?usp=sharing

[2017-07-07 14:18] d2fong commented on #43
@ugurdogrusoz @gbader

Yes I am following that document and using all of the settings you recommend for collapsing complexes by default.

[2017-07-08 20:06] ugurdogrusoz commented on #43
Since the nodes have not moved at all after expand, layoutBy must be null (default); can you please try setting it to cose-bilkent with randomize "false" and animate set to "end"? If that doesn't work, I suggest we hold a hangout sometime next week to go over your code and track the problem down.

[2017-07-08 21:41] d2fong commented on #43
Are you sure it is not a problem with the extension?

[2017-07-09 10:55] ugurdogrusoz commented on #43
I am not claiming it's not a bug on our end; I am just trying to understand why we're not able to reproduce it on our end, with the settings suggested. Perhaps, you're setting animate to "during" instead of "end" since there is a known issue for this: https://github.com/cytoscape/cytoscape.js-cose-bilkent/issues/47? This wouldn't explain why nodes wouldn't change locations at all (except the expan

[2017-07-09 17:02] d2fong commented on #43
Okay good to know you couldn't reproduce it.  I'll investigate more.

Thanks.

[2017-07-11 15:15] d2fong commented on #43
Okay, I found the issues with my code:

1.  I wasn't using the latest version of the extension.
2.  I was using the expandcollapse.afterexpand event which I assumed was fired after the whole operation was complete, but it is actually fired before the expanded node children's positions are updated, which lead to the behaviour that I described in the github extension.

Thanks again for the support @

[2017-07-11 15:15] #43 closed

[2017-07-11 15:50] d2fong opened #44 "Can expandcollapse.afterexpand be fired after nodes are repositioned?"
The expandcollapse.afterexpand event is fired before the node positions are corrected.  Is it possible to fire this after the node positions are corrected?

i.e switch the order of line 31 and line 34?

https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/master/src/expandCollapseUtilities.js#L31

https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/master/src/expan

[2017-07-11 19:26] ugurdogrusoz commented on #43
Great @d2fong I am glad it's solved

[2017-07-11 20:13] kinimesi commented on #44
@d2fong Can you give more details on what you are trying to do and how will swapping those lines help you achieve it?

[2017-07-11 20:53] d2fong commented on #44
@kinimesi

It doesn't matter that much to me now because I am using ```layoutBy```,  but it seems strange to fire this event before updating the positions, because to me the meaning of ```afterexpand``` means the event is fired after the whole expand operation is finished.  i.e the node is restored and it's children are restored and properly positioned.

I'd say maybe you could document your meani

[2017-07-23 20:54] stklik commented on #38
I'm also interested in this feature, however I would like to define upfront which compounds are collapsed/expanded (i.e. directly from the JSON source).

[2017-08-04 15:09] michaelmior opened #45 "AMD example in README uses invalid variable name"
The example uses a variable named `expand-collapse` which is not valid JS.

[2017-08-04 15:15] michaelmior opened #46 "Add demo link in README"
It would be great if the README could link to the demo to make it easier to preview what this looks like. This link works for me: http://cdn.rawgit.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/master/demo.html

[2017-08-04 15:46] #45 closed

[2017-08-04 15:46] #46 closed

[2017-08-25 17:11] kinimesi commented on #38
@hotpeperoncino one way of saving collapsed nodes is the following. First you need to get all collapsed children in the graph. In v3.0.11, you can use getAllCollapsedChildrenRecursively method. Then unite the collapsed children with current nodes.
[code]
Now you have all the nodes in the graph. When saving the nodes, you need to save the collapse state of nodes too. Just saving the state of collap

[2017-08-25 17:20] kinimesi commented on #38
@stklik First define the compounds which are collapsed by adding an attribute to their data field - for example `"collapse" : true`. No need to do this for expanded compounds. After loading the graph, just collapse nodes whose related data field is set:
[code]

[2017-09-12 17:58] pcurrivan opened #49 "Meta edge original ends should be stored as id's"
References can get stale if move() is used.  The ID should be preserved, so you can use cy.getElementById() to get the reference when you need it (in findNewEnds()).

[2017-09-12 18:02] pcurrivan opened #50 "Expose repairEdges"
In an app using remove() and restore(), meta edges can be saved and restored (along with their connectedNodes)  The user needs to be able to call repairEdges to fix meta edges after they are restored.

[2017-09-13 01:14] pcurrivan commented on #49
I was mistaken about this.  In fact, I believe my issue was coming from stale parent references from collapsed children after the parent is moved.  I fixed it by changing findNewEnd() to find the parent using the parent id data field rather than the parent reference.  Closing this.

[2017-09-13 01:14] #49 closed

[2017-09-25 14:55] kinimesi commented on #50
@pcurrivan What do you mean by *fixing meta edges*? Can you explain how do you save and restore meta edges and their connected nodes?

[2017-09-25 21:21] pcurrivan commented on #50
Here's an example:
Vertices: {A,B,b}
Edge: {A,b}
Assume B is the parent of b.

Do the following operations:
collapse B
remove A
expand B
restore A

When A is removed, is has a connected meta edge {A,B}, which is restored when A is restored.  But b is in the graph, so the meta edge {A,B} needs to be fixed/repaired to become {A,b} again.

By the way, there are other snags when using remove() and res

[2017-09-26 09:41] kinimesi commented on #50
@pcurrivan `repairEdges` is meant for internal use only. If you like, you can copy `repairEdges` function and use it.

Instead of removing nodes, I would suggest you to make them `invisible` by setting `display` property in CSS to `none`. For restoring nodes, you will need to set `display` property to `element`. If you do it like this, then all meta-edges (including invisible ones) will be repaire

[2017-09-26 17:24] kunalganglani opened #51 "Label for Collapsed/ expanded parent node"
hey,
Please let me know of a way, by which I can show a label for the collapse/ expanded nodes.
I tried doing the following in compound nodes
selector: 'node',
            style: {
              'content': 'data(label)',
            },

2 problems,
1. child overlap the content
2. label not visible when compound node in collapsed state

[2017-09-26 19:48] #51 closed

[2017-09-27 06:10] ugurdogrusoz commented on #44
@kinimesi what do you think?

[2017-09-27 08:28] kinimesi commented on #44
@ugurdogrusoz Because *someone* run into a problem with the order of fired events, it does not mean that the order is wrong. `afterexpand` event is fired just after the node is expanded. The positioning of nodes is a post process, which is done after node is expanded. So firing `afterexpand` event, after doing the positioning is wrong and meaningless.

[2017-09-27 13:19] d2fong commented on #44
@kinimesi

First of all.  I said in my response that you don't have to change it.  All I am saying is that your documentation is misleading.

Take a look at your documentation for the ```layoutby``` option and the ```afterexpand``` event:

Here is the documentation for ```layoutby```:
[code]

Here is the documentation for ```afterexpand```:
[code]

This could imply to people that these two things

[2017-10-04 16:54] pcurrivan commented on #50
display:none seems to work quite well.  thanks!

[2017-10-04 22:31] kinimesi commented on #50
Since your problem is solved, closing.

[2017-10-04 22:31] #50 closed

[2017-10-06 12:15] ugurdogrusoz commented on #44
@d2fong we moved the location of the trigger. we also made a note as follows in the documentation (unstable branch):

Notice that following events are performed for *each* node that is collapsed/expanded. Also, notice that any post-processing layout is performed *after* the event.

Please let us know if this is more reasonable now.

[2017-11-10 14:14] atabakhafeez opened #53 "Can expand-collapse be used on touch screens?"
Firstly, thanks for the library. It has been very helpful till now for our use case.

I wanted to know if there is a way to use the library for touch screens. For now, it seems that you only see the expand-collapse cue on mouse hover. Is there any other way that could also be used for touch screens using this library? If not, is there any chance that it will be added soon?

[2017-11-10 15:34] aprudnikoff commented on #38
As well you broke a core cy.json() method, now it produces not JSON-serializable object since it has circular links.

[2017-11-13 12:05] kinimesi commented on #53
@atabakhafeez One way of using this extension on touchscreen devices is to listen for specific events and call expand/collapse functions when that event occurs.
1. Listen for `cxttap` (two finger tap event) or `doubletap` event.
2. If node is collapsible call `api.collapse` function, else if node is expandable call `api.expand` function.

Note: you will need to implement double tap event yourself.

[2017-11-28 12:10] earx opened #54 "add 'onDisplay' event"
To allow to enable / disable menu item based on node state (for example - disable 'expand' menu item if node is expanded) - add 'onDisplay' event

[2017-11-28 12:14] earx commented on #54
sorry, wrong repo

[2017-11-28 12:14] #54 closed

[2017-12-11 15:16] 0xdabbad00 opened #55 "How to start with nodes collapsed?"
My dataset has a large number of nodes which takes a long time to load.  I was thinking it would load faster if I started with some of the compound nodes collapsed. How can I go about doing this?  Does this need to happen when cytoscape is initialized or does it happen in this extension?

[2017-12-12 10:15] kinimesi commented on #55
@0xdabbad00 it does not happen in extension level. One way of implementing this is to call `api.collapseAll` or `api.collapseRecursively` during initialization. Provide `api.collapseAll` or `api.collapseRecursively` as `ready` option of layout. You can also write a simple layout which calls those functions.

Here is a working [example](http://www.pathwaycommons.org/pathways/#/view?uri=http%3A%2F%2

[2017-12-15 10:57] #55 closed

[2017-12-15 10:58] #44 closed

[2018-02-14 06:33] ugurdogrusoz commented on #23
@maxkfranz Could you please answer @metincansiper 's question?

[2018-02-14 06:34] ugurdogrusoz opened #56 "Demo with all compounds collapsed initially"
Let's please add a demo for this as well to the README

[2018-02-14 10:36] ugurdogrusoz commented on #56
Thanks. Can you update the unstable branch as well?

[2018-02-14 10:46] kinimesi commented on #56
@ugurdogrusoz done

[2018-02-14 10:47] #56 closed

[2018-02-15 16:07] maxkfranz commented on #23
[You can use `resize` in cytoscape>=3.1](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/issues/23#issuecomment-270978662).  It should detect window resizes and most resizes of the div -- thought it's not possible to detect all.

[2018-02-17 17:37] pmackay commented on #11
@ugurdogrusoz may I ask if support for this option has progressed at all?

[2018-02-19 07:57] ugurdogrusoz commented on #11
Unfortunately we don't have resources for this at the moment.

[2018-02-27 09:25] mafar opened #57 "nodes.predecessors does not return all nodes when parent is collapsed"
**JS Fiddle:** https://jsfiddle.net/bababalcksheep/njp2jk2j/33/
1. I am consuming  node.predecessors from (http://js.cytoscape.org/#nodes.predecessors)
1. Click on **G** , print @ console ```G  Path =>  F,C,B,A```
2. Collapse **Group-CDF** then click on **G** ,  print @ console ```G  Path =>  Group-CDF,B,A```

**What I need :**
Even when collapsed , how can I get complete path ? which is G  Path =

[2018-03-01 08:09] ugurdogrusoz commented on #57
@mafar Naturally the predecessors function follows the current visible connections. Since expand-collapse is not a core operation, core level traversal functions like predecessors cannot be modified to consider these. However, one could write new traversal functions in this extension that take options to consider "only original edges" and ignore meta edges created as part of expand-collapse operat

[2018-03-01 10:06] mafar commented on #57
cy.json() also fails to include collapsed elements.
I will see if i can i can come up with solution.
But  should not expand-collpase , use visibility none instead of hide so that nodes are not removed ?

I will say, all of core functionaly brakes which requires iteration from cy docs because expand-collpase removes nodes , could hiding them be a solution ?

[2018-03-01 16:01] ugurdogrusoz commented on #57
the whole point here is complexity management. if you just make graph contents invisible but part of the topology, then you're not reducing complexity.
collapsed content *is* reachable (for instance see this API: getCollapsedChildren), you should continue your traversal from those nodes.
sorry we don't have any resources to do this at the moment.
another way to manage complexity is hide-show: http

[2018-03-02 04:06] mafar commented on #57
Best solution i see for now is to use ```cy.batch()``` and write a wrapper function for ```cytoscape.js-expand-collapse```

1. demo at https://jsfiddle.net/bababalcksheep/9r60vkev/33/
1. works with ```node.predecessors('node')``` example
1. works with ```cy.json()``` , exports all elements even collapsed

does this approach seems ok ?
if it is then it can be integrated with cytoscape.js-expand-col

[2018-03-02 07:42] mafar commented on #57
https://jsfiddle.net/bababalcksheep/9r60vkev/77/
test with 100 groups

[2018-03-02 12:30] ugurdogrusoz commented on #57
@kinimesi could you please check the approach?

[2018-03-02 13:38] kinimesi commented on #57
@ugurdogrusoz  although this approach works for @mafar's case, it is a naive approach.. @mafar  expands collapsed nodes, calls intended function and then collapses the nodes again. In its current state, this approach will not work properly when there are nested collapsed nodes. Moreover the `expand` operation is costly, specially when there are many nested collapsed nodes.

I do not think it is a

[2018-03-02 14:32] mafar commented on #57
I understand this is ugly approach But i see no other way without modifying source code as I need to use core calls as per my app.

@ugurdogrusoz Please close it if there is no alternative approach

[2018-03-02 14:53] #57 closed

[2018-04-11 12:51] paanday commented on #11
How to initialize qtip on new meta-edges after collapse or expand? can you provide the code

[2018-05-02 07:46] johannesring opened #58 "Uncaught TypeError: Cannot read property 'x' of undefined"
I'm using cytoscape.js with expand collapse. When using Google Chrome I see an error after clicking on a button that runs `api.expandAll()`. I see no error when using Firefox or GNOME Web. The error does not seem to be a problem, but I wanted to report it anyway. This is the error message:

[code]

Line 470 in `main.js` is
[code]
where `api` is defined as
[code]

[2018-05-02 12:43] kinimesi commented on #58
@johannesring I cannot reproduce it in the [demo](https://rawgit.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/master/demo.html). Can you provide a JSFiddle or JSBin demo to reproduce this issue? Thanks.

[2018-09-20 02:59] RosaRomeroGomez opened #59 "Cue position does not adjust to the top-left corner of the compound node"
I've been working with the Cose-Bilkent layout lately and I've just added this plug-in to be able to collapse and expand compound nodes. It seems that everything works fine but I think there is some issue with some padding for the cues. It seems to get placed outside of the compound node so the action doesn't get trigger. It seems to get better when I zoom in to certain level so the cue finally ge

[2018-09-20 06:39] ugurdogrusoz commented on #59
@RosaRomeroGomez This shouldn't happen if you're using the default options documented in the extension (see README here https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse). You can adjust the position of the expand/collapse visual cue using this option: expandCollapseCuePosition (could provide a function for it as well).
If you can't figure out your problem, perhaps you could provide

[2018-09-20 13:00] RosaRomeroGomez commented on #59
Thanks @ugurdogrusoz for your quick response. I'm using the default options documented in the extension but I suspect there is something weird going on with the zooming capabilities. This is how I initialize the extension:

      var expandCollapse_defaults = {
        layoutBy: null, // to rearrange after expand/collapse. It's just layout options or whole layout function. Choose your side!

[2018-09-20 16:45] kinimesi commented on #59
@RosaRomeroGomez as @ugurdogrusoz mentioned this should not happen. Paddings are taken into consideration in default position calculation. See our [demo](https://rawgit.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/master/demo.html) - cues are positioned correctly independent of zoom level. Can you provide a minimal JS Fiddle which reproduces your problem?

[2018-10-12 05:45] #59 closed

[2018-10-16 02:29] RosaRomeroGomez opened #60 "Expand a single node is not working for me"
I'm trying to use `api.expand(nodes, options)` but I think I must be doing something wrong.
I'm using this method without options so I have something like this `api.expand(target)` where `target` is an `Element`. What would be the correct syntax?

[2018-12-08 10:33] HochmanEyal opened #62 "Uncaught TypeError: Cannot read property 'length' of undefined"
When calling getCollapsedChildrenRecursively on an empty collection, i'm getting an
`Uncaught TypeError: Cannot read property 'length' of undefined`
Exception in the console.
I managed to recreate the issue in [jsFiddle](http://jsfiddle.net/eto18f9q/).

I looked at the call stack and it seems that `node.data('collapsedChildren');` returns undefined and when `length` is called on the returned value

[2018-12-08 20:42] kinimesi commented on #62
I added a sanity check to handle this case, but `getCollapsedChildrenRecursively` should be called on a **single** collapsed node.

https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/8a2e4157def5613e0e477e393dc2c0720e41c032/src/expandCollapseUtilities.js#L652

Calling it on a collection of nodes will return the collapsed children of the first element in the collection. You need t

[2018-12-09 08:15] #62 closed

[2018-12-19 09:08] HochmanEyal opened #64 "Event "expandcollapse.afterexpand" is triggered multiple times"
If a collapsed node (let's call it **A**) listens to "afterexpand" event and it's parent listens to it too, then expanding **A** causes the "afterexpand" event to fire on **A** twice (and if **A**'s parent also had a parent which listens to this event, it would be fired three times. I also _assume_ that the same thing happens for "beforeexpand" and for the collapse events as well).

I managed to d

[2018-12-26 20:54] kinimesi commented on #64
The event is not triggered multiple times, you attach **multiple listeners** to a single node.

When an event is attached to a compound node by using `eles.on`, the event propagates to the children of that compound node as well.

In your example, if you try the following code, when node A is clicked the message will be printed once, when node B is clicked the message will be printed twice, and whe

[2018-12-30 11:44] HochmanEyal commented on #64
I see the problem with my code now, thank you very much!

[2018-12-30 11:44] #64 closed

[2019-01-20 05:37] Does666 opened #65 "How to keep the previous position when expand and collapse group"
I have read the cytoscape document  and a concise documentation of cytoscape.js-expand-collapse, and the official [demo](https://rawgit.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/master/demo.html). But what a shy, I still don't know how to begin my work.

The following is what I need :
1. Init graph with some nodes, which may be expandable depend on a property like type.
Nodes with `type=1`

[2019-01-21 09:47] utkarshagarwal01 opened #66 "How to only run layout on subgraph of expanded/collapsed node"
When using expand collapse with dagre layout, on expanding a node, the two subtrees from the root often switch position. This looks visually very confusing.

To stop this behavior, I am trying to run the layout only on the subgraph of the expanded node. Is there any method in the api which can help with this?

Thanks in advance.

[2019-01-21 12:02] ugurdogrusoz commented on #66
@utkarshagarwal01 this issue is not an issue of this extension. how the layout behaves depends on the layout style used, which is an option in this extension. we recommend that you use cose-bilkent with this extension. If cose-bilkent is not suitable for your application, then try to use a layout style which support incremental layout (a layout that respects current node positions, typically rando

[2019-01-21 12:02] #66 closed

[2019-01-22 01:37] Does666 opened #67 "The graph fly out of screen after expanding and collapse nodes over 10 times"
I download the offical [demo](https://rawgit.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/master/demo-compounds-collapsed.html), and only change `fit` to `false`. After expanding and collapse nodes over 10 times, the whole graph fly out of screen. I guess there is a bug in coordinate calculation.
`var api = this.expandCollapse({
	layoutBy: {
		name: "cose-bilkent",
		animate: "end",
		randomiz

[2019-01-22 02:00] Does666 commented on #55
Is it posssible to show collapsed nodes at initial state? When expand a node, load children nodes of expanded node?

[2019-01-22 09:08] utkarshagarwal01 commented on #66
@ugurdogrusoz Yes sir, I realize you are correct. The problem is with the dagre layout itself.
Pity that dagre doesn't have a randomize: false option.
I'll look into your prospected solution and thank you for a clear answer.

[2019-01-22 09:09] ugurdogrusoz commented on #65
@Does666 in order for this extension to properly work, you need compound nodes with content (child graphs) upfront. So, consider loading each type1 node content upfront or as a separate operation prior to expand.

[2019-01-22 09:11] ugurdogrusoz commented on #67
@Does666 what's probably happening is as you perform layout each time, the contents shift, which is expected with spring embedded layout algorithms. If you animate the process, your users should be more comfortable maintaining their mental maps with each expand/collapse operation.

[2019-01-22 09:57] Does666 commented on #67
So do you reproduce this issue ? Is it a bug ?

[2019-01-22 10:07] ugurdogrusoz commented on #67
No it is not a bug but a limitation of these kind of layout algorithms. Each layout might slightly shift the graph and if you it 10 times, this is going to happen. Please provide a fiddle for us to reproduce if you think it happens too drastically with each layout. I suggest you turn animation on as "animate: during" and "fit: true" .

[2019-01-22 10:55] Does666 commented on #67
I have created a codepen link to reproduce [this issue](https://codepen.io/Does666/pen/aPvGjZ). When you collapse and expand one group over 10 times. The graph will have a large offset , even fly out of screen.

 `animate: during` is not helpful.

I think I can't set `fit` to false in my case. Sometimes there are very less nodes like 3, sometimes there are many nodes like 300. So set `fit` as true

[2019-01-22 11:09] ugurdogrusoz commented on #65
Nodes that are compound (child graph/content) will automatically be eligible for expand/collapse through visual cues (+/- signs by default). So you can either load children upfront but collapse the compounds before initial display, or have a separate way to load children on demand (double click on type 1 node loads content / children and expand visual cue becomes visible). Expand collapse assumes

[2019-01-22 12:15] Does666 commented on #65
I have heard this terminology 'partial layout' some times. I believe that is what I need . But I didn't find any information or demo to show how to do a partial layout. Could you show me some links ?

[2019-01-23 03:41] Does666 commented on #65
@hasanbalci I learned the `cytoscape.js-expand-collapse` extension only expose 4 event handlers to do custom processing.

`expandcollapse.beforecollapse/expandcollapse.aftercollapse/expandcollapse.beforeexpand/expandcollapse.afterexpand`

Can I prevent the default layout behavior and do a partial layout ? Or I can't use this extension ? Can you elaborate or give me a demo?

I guess the pseudo code

[2019-01-29 05:52] ugurdogrusoz commented on #65
@Does666 tap-hold (left-click and keep for a while) on n0 or n2

[2019-01-29 06:19] Does666 commented on #65
@ugurdogrusoz @hasanbalci  Thanks for your kindly help about this issue! The original issue keeping the previous position works now, But I'm so sorry that is not exactly what I expected.

A few days ago, That is my first time to know and learn cytoscape. I can't describe what I need clearly. Now I think only keeping the previous position is not what I need with in-depth learning and understanding.

[2019-02-18 02:22] Does666 opened #68 "Expand group node behavior is weird when request child data with ajax with cytoscape.js-expand-collapse"
I'm learning [`cytoscape.js`][1] and its related extension [`cytoscape.js-expand-collapse`][2] and being attracted to its amazing features.

I tried to do a demo that when open a node, request the child nodes with ajax from server and expand the group.

I find the extension `cytoscape.js-expand-collapse` has a cue utility. When a node has child nodes, it will show a cue icon.

In my demo, I don't

[2019-02-26 16:41] Remimstr commented on #66
I am using the dagre layout and ran into this exact problem. I noticed that what seemed to be causing it was dagre changing the order of the nodes and edges after an expand or collapse event. I addressed this (and solved my problem) by sorting the nodes before rendering each time.

[code]

[2019-03-18 08:38] utkarshagarwal01 opened #69 "Multilevel compound node expansion with cytoscape-expand-collapse breaks with cytoscape.js version >3.3.6"
**Issue type**

Bug report

Cytoscape.js version : >3.3.6
Cytoscape Expand collpase version : 3.1.2
Node.js version : v10.15.0

**Current (buggy) behaviour**

When we expand a collapsed node having another collapsed node inside it, the code goes into an infinite while loop. The graph stops responding.

**Desired behaviour**

Not hang up and expand the node, please.

CodePen reproducing the issue:

[2019-03-18 11:25] hasanbalci commented on #69
Thanks for reporting, we will look into this issue before the next release.

[2019-03-18 12:11] utkarshagarwal01 commented on #69
No problem @hasanbalci
I have also identified the infinite loop that the code runs into:
https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/8a2e4157def5613e0e477e393dc2c0720e41c032/src/expandCollapseUtilities.js#L606

[2019-03-18 20:03] Remimstr commented on #69
@utkarshagarwal01 I discovered this bug a couple of days ago and spent a number of hours trying to figure out what was causing it. Just out of curiosity, how you figured out it was that loop, I clearly did not know how to properly debug it.

[2019-03-19 02:53] maxkfranz commented on #69
I identified the same line as part of the issue. I’m not familiar with this extension’s code, but that particular line doesn’t make sense to me.

You can’t query a removed element’s topology. That doesn’t generally make sense.  You could store the value in the scratchpad before removal, though.

Additionally, the loop fails because it gets an empty collection. This isn’t checked in the loop, and t

[2019-03-19 02:55] maxkfranz commented on #69
Note: If you have an infinite loop, you can just hit the pause button in the debugger after waiting a bit. You’ll break within the loop.

[2019-03-19 17:31] kinimesi commented on #69
Prior to v3.4.0, we could access the parent of a removed node by using `removedEle.parent()`. But in v3.4.0, when a node is removed its parent is set to `null` That is why we never get out of the while loop.
https://github.com/cytoscape/cytoscape.js/commit/7f5b63c2483988dcc0671b500458cee0c52f3d19#diff-0a12ab28e95ef60c35904eebf53d64e7R632

I think we can get the parent node from the `parent` field

[2019-03-19 18:33] maxkfranz commented on #69
`getElementById()` should be fine (map lookup).  This extension is a UI, so performance doesn't matter so much.  A user isn't going to click to toggle many nodes really quickly.

For something where performance matters a lot, you should cache the parent under scratch.

[2019-03-19 18:42] maxkfranz commented on #69
Note: It says in the docs not to use a removed node for anything other than keeping a reference to restore later: http://js.cytoscape.org/#cy.remove

So if code relies on behaviour of removed elements, then that code is relying on undefined behaviour.  The only methods that *could* be safe would be independent, read-only state within element JSON, like `ele.data()` or `ele.id()`.

[2019-03-19 20:03] kinimesi commented on #69
@maxkfranz the extension provides an API. With the API multiple nodes can be expanded/collapsed at once (for example in Newt, we have `Expand/Collapse All` options). During expand/collapse some computationally heavy tasks are performed (depending on extension options). In fact, when there are many nested nodes, expanding/collapsing all nodes recursively can take a while. So, performance matters.

[2019-03-20 02:42] Does666 opened #70 "Is it posssible to merge links from the same group to another node after collapse the group node"
Say the demo data is two groups named `group0` and `group1`,  `group0` has three children nodes named 'group0_child1' 'group0_child2' 'group0_child3' , each child of `group0` connect to `group1`.

I find that links from children of `group0` to `group1` are not merged after collapse `group0` while set 'curve-style' .

After collapse `group0` , there are still three links from `group0` to `group1`.

[2019-03-20 09:50] ugurdogrusoz commented on #70
Currently we don't support this, would like to do so in the future though.
Same as https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/issues/11

[2019-03-20 09:50] #70 closed

[2019-03-22 10:55] utkarshagarwal01 commented on #27
This would be a very helpful feature for me too, on mouse interfaces.
Any ideas for implementation before this is actually implemented?

What I am currently doing in my implementation is that I am using an image as a node background image, and calculating click on that based on mouse click position. The difficulty is that i need to have the cue outside the circular node boundary (but within the bo

[2019-03-22 11:13] utkarshagarwal01 opened #71 "api.collapseAll() doesn't generate expandcollapse.aftercollapse event when called from cytoscape ready"
As explained in the title, the call to api.collapseAll() doesn't generate the expandcollapse event in cy.on('expandcollapse').

This issue can be seen in the library demo file [https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/master/demo-compounds-collapsed.html#L57](here).

I understand it might be tough to provide an event on cytoscape when it hasn't event completely initiali

[2019-03-22 16:39] kinimesi commented on #71
It does generate the event. The problem is that you are start listening for the event after the event is triggered. If you really want to capture that event, you need to listen the event in the `ready` function itself before calling `api.collapseAll`. Something like this:

[code]

[2019-03-22 16:39] #71 closed

[2019-03-24 03:16] groovy21 opened #72 "Remove dependency on jQuery"
Hi,

Can we remove the dependency on jQuery please? jQuery is a heavy library and I dont see a full fledged use of that library here. Using this with npm install explicitly shows a message that jQuery is a dependency but must be installed manually. After that the bundler doesnt detect the installed jquery sometimes and has issues bundling. You might want to consider things at following for more de

[2019-03-24 15:31] utkarshagarwal01 commented on #71
Oh yeah, it makes sense now! Thanks @kinimesi +1

[2019-03-25 04:09] utkarshagarwal01 commented on #71
Also, what if i want to run some code after all the nodes have been collapsed (and not per node)? Is there some way to capture the "global" aftercollapse event?

[2019-03-25 07:17] utkarshagarwal01 commented on #71
Also, as far as i can see, the `aftercollapse` event is generated before the actual edges are removed and meta edges are added. Is this the required behaviour?

[2019-03-26 08:01] utkarshagarwal01 opened #73 "Cannot access the ancestors of a removed node with node.ancestors()"
The call to `node.ancestors()` return an empty collection for a removed node, as its parent is set to `null` as described below by @kinimesi

Prior to v3.4.0, we could access the parent of a removed node by using `removedEle.parent()`. But in v3.4.0, when a node is removed its parent is set to `null` That is why we never get out of the while loop.
https://github.com/cytoscape/cytoscape.js/commit/7

[2019-03-28 08:26] utkarshagarwal01 opened #74 "`aftercollapse` event is generated before the edges are replaced with meta edge"
Also, as far as i can see, the `aftercollapse` event is generated before the actual edges are removed and meta edges are added. Is this the required behaviour?

Edit: This seems to be because the updates are done in a `cy.batch()` and the event is generated inside the batch but the changes don't take place until the batch ends.

_Originally posted by @utkarshagarwal01 in https://github.com/iVis-at

[2019-03-29 22:56] manotoor commented on #21
Is this something that will still be supported?

[2019-04-04 07:41] ugurdogrusoz commented on #72
@kinimesi Do we make heavy use of jQuery in this extension? Should we ask @groovy21 to give it a try and make a PR for this?

[2019-04-04 07:51] ugurdogrusoz commented on #21
@mafar @manotoor It'd be nice to have this option but currently we do not have any resources for this.

[2019-04-04 17:39] kinimesi commented on #72
jQuery is used very lightly. Its functionality can be replaced with standard DOM methods easily. As far as I remember, jQuery is used only in `src/cueUtilities` and `/src/debounce.js` files.

If @groovy21 really wants to get rid of `jQuery` dependency, he/she can make a PR. It shouldn't take more than half an hour.

[2019-04-04 18:16] kinimesi commented on #21
@manotoor you can achieve this functionality by overriding `api.isExpandable` and `api.isCollapsible` functions. The current node is provided as an argument to these functions.

https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/8a2e4157def5613e0e477e393dc2c0720e41c032/src/index.js#L117

https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/8a2e4157def5613e0e477e39

[2019-04-04 23:08] manotoor commented on #21
I set the x and y of the cue indicators to INFINITY as a workaround.
I first tried removing the class from node however, that did not work

[2019-04-05 13:18] groovy21 commented on #72
Its not half an hour for me definitely. Given that I have to make the change and test it with some of my own examples and the ones in your demos. But I will try and send out a pull request.

Do you have a an automated test suite for this cytoscape expand collapse?

[2019-04-05 13:48] ugurdogrusoz commented on #72
@groovy21 please go ahead. No we dont have any tests unfortunately.

[2019-04-08 05:57] utkarshagarwal01 commented on #66
@Remimstr Hey, this could be really helpful in my use case. I'll try to implement this soon.

[2019-05-02 14:26] Rishi0405 commented on #69
Hi,

Is this issue resolved? After a few expand and collapse I'm facing this issue
http://jsfiddle.net/Rishi0405/3o5jq2zd/66/

Thanks,
Rishi

[2019-05-02 14:39] hasanbalci commented on #69
@Rishi0405 It is solved in the unstable branch, but a new version that include the fix hasn't been released yet.

[2019-05-03 08:56] Rishi0405 commented on #69
@hasanbalci Thanks for the reply. I am waiting for the release :)

[2019-05-06 01:24] Does666 opened #76 "How to disable auto select behavior after expand or collpase node"
When expand or collpase compond node, the node will be auto selected, and `select` event will be triggered.

cy.on('select', 'node', function(evt){
  // trigger select
});

Is it possible to disable this behavior ? I expect only tapping the node obviously to trigger `select` event and expand or collapse node not to trigger `select` event .

[2019-05-14 13:53] Rishi0405 commented on #69
@hasanbalci I just checked the fix #69, commit 4b94483. I tried it locally and it is not working. Am I doing anything wrong? Please, I need some help.

[2019-05-17 08:56] hasanbalci commented on #69
It seems that commit 4b9448378271a859b8756ec6276a04db1dd9d628 cannot handle all cases. For example [here](http://jsfiddle.net/Ljtd6srx/), if we collapse first node n2 and then node n3, I think it gets stuck in the same while loop.

[2019-05-30 08:25] vittoriozamboni commented on #72
Great job!

[2019-06-03 04:46] Does666 commented on #59
Would it suffice just to include the path to the cue? Something like: expandCueImage: /path/to/image.png ? I have tried but not works well.

[2019-06-17 11:53] ugurdogrusoz commented on #26
@hasanbalci Could you verify the exposed API and close please?

[2019-06-17 12:08] hasanbalci commented on #26
Exposed API works as intended, so I am closing.

[2019-06-17 12:08] #26 closed

[2019-06-25 13:15] canbax opened #77 "angular 8 works on dev mode but gives error after build"
It occurs when I get a build using angular.
![image](https://user-images.githubusercontent.com/8426741/60101055-b70ab700-9763-11e9-86b2-604f255afdd3.png)

I think problem is here
https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/8a2e4157def5613e0e477e393dc2c0720e41c032/src/cueUtilities.js#L278

`Tap = function (event) { ` should have been `eTap = function (event) { ` because `Ta

[2019-06-25 15:39] hasanbalci commented on #77
@canbax Can you test and verify the fix in unstable branch?

[2019-06-26 05:56] canbax commented on #77
I used unstable branch, it looks ok

[2019-06-26 05:56] #77 closed

[2019-07-02 22:25] manotoor commented on #76
any workaround for this?

[2019-07-16 02:16] Does666 opened #79 "Call `parent()` for collapsed node not working"
I find that `parent()`  function not working when called on collapsed node.
After a quick debugging, I find it's a issue relevant to cytoscape.js versions larger than 3.3.x.
I have filed this issue [here](https://github.com/cytoscape/cytoscape.js/issues/2465). but the repo collaborator closed my issue and let me refile here.

My scenario is that I expect to search a node and highlight it,  and if

[2019-07-16 06:08] ugurdogrusoz commented on #79
@Does666 Could you try the latest on the "unstable" branch and let us know if you observe the same behavior?

[2019-07-16 08:35] Does666 commented on #79
@ugurdogrusoz I have tried on the unstable branch, but this issue isn't resolved on it. Could you please shed light on my question ?

[2019-07-23 08:10] canbax opened #80 "Canvas blocks navigator extension's container HTML element"
This extension adds a canvas element on run-time with [this line](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/master/src/cueUtilities.js#L18)

[Navigator extension](https://github.com/cytoscape/cytoscape.js-navigator) also uses a `div` element to show an overview. Since the canvas blocks UI, the navigator element doesn't catch any click events.
![2019-07-23_10-57-31](https

[2019-07-25 15:24] mwdchang commented on #69
We are running into this problem as well after upgrading to cytoscape 3.8.

Has there been any progress at solving the multi-level expand issue at the plugin level?

[2019-07-25 18:01] hasanbalci commented on #69
@mwdchang Can you try the unstable branch? With the latest fix, now it must be working without problem. If it is ok, we will make a new release.

[2019-07-25 18:06] hasanbalci commented on #69
@utkarshagarwal01 @Rishi0405 Could you also please test the unstable branch to verify the problem is solved?

[2019-07-25 19:17] mwdchang commented on #69
@hasanbalci the fix on unstable branch is working for us. Thanks for the quick turn around!

[2019-07-26 07:38] hasanbalci commented on #79
@Does666 We now provided a new functionality in the api to reach parent of a node (`api.getParent(nodeId)`). It is available in the unstable branch and we'll make a release soon.
In your code, the following line should work to get the parent node:

`tmp = api.getParent(parent.id())`

[2019-07-26 07:40] Does666 commented on #79
@hasanbalci Looking forward to it. Thank you very much.

[2019-07-26 07:41] ugurdogrusoz commented on #79
@Does666 Could you please try this on the latest unstable and let us know if it works? We will then make a release. Thanks

[2019-07-26 07:42] hasanbalci commented on #73
@utkarshagarwal01 We now provided a new functionality in the api to reach parent of a node (`api.getParent(nodeId)`). I think you can obtain the ancestors of a removed node by using this. It is available in the unstable branch and we'll make a release soon.

[2019-07-26 08:15] #58 closed

[2019-07-26 08:23] Does666 commented on #79
@ugurdogrusoz What a pity that it don't work well for me. After a quick debugging, I find that set parentData `setScratch(cy, 'parentData', parentData); ` only at  init core postion.
My data is got from webserver when expand a node and call `cy.add()` to add to graph dynamically.   In my case, Do I have to call `api = expandCollapse({})`  every time change set data set?

[2019-07-26 08:40] hasanbalci commented on #79
@Does666 Yes, parent information is stored when the extension is initialized. Since your graph elements are added dynamically, calling `api = expandCollapse({})` when new nodes are added can solve your problem.

[2019-07-26 09:14] Does666 commented on #79
@hasanbalci That can't solve my issue. Since `parentData` is not a global variable, every time I call `expandCollapse({})` , it will be overwriten. On the other hand, It's not a good ideal to call `expandCollapse({})` after adding new nodes which looks weird. Is it possible to encapsulate this logical into this extension ?

[2019-07-26 11:51] hasanbalci commented on #69
I made another fix to consider nodes added later on.

[2019-07-26 11:58] hasanbalci commented on #79
@Does666 I made another fix 5385d84ba9fce716d79c23142f100c9695b0b3f3 to consider nodes added later on. Before since we keep node-parent info only for the initial graph, extension was not consider the nodes added later on. Now, it dynamically updates its content based on removed nodes. This fix may solve your issue, but if not we are open to pull requests.

[2019-07-29 02:05] Does666 commented on #79
@hasanbalci That works well for me . Thank you.

[2019-07-29 02:06] #79 closed

[2019-07-30 11:38] hasanbalci commented on #72
jQuery dependency is removed in the unstable branch. jQuery-free version will be available with the new release, so closing this issue.

[2019-07-30 11:38] #72 closed

[2019-07-30 11:42] hasanbalci commented on #69
This issue is solved in the unstable branch. It will be effective with the new release, so closing.

[2019-07-30 11:42] #69 closed

[2019-08-01 13:49] ugurdogrusoz commented on #80
I suspect some other extensions such as node-resize have the same issue.

[2019-08-02 07:54] hasanbalci commented on #80
The problem is because of z-index values of canvases introduced by different extensions. Default z-index value for expand-collapse is 999, while it is 100 for navigator extension. Therefore, navigator is hidden behind the expand-collapse canvas.

One generic solution for this problem may be to introduce a z-index value option for users if extension creates a new canvas.

For the above specific cas

[2019-08-02 11:47] ugurdogrusoz commented on #80
This fixed worked! Could we please put a notice on this on README of this extension and **node-resize* extension?

[2019-08-02 14:19] hasanbalci commented on #80
I added a notice on README about this.

[2019-08-02 14:19] #80 closed

[2019-08-06 21:25] manotoor commented on #27
I noticed when updating the size of cytoscape canvas directly and then calling cy.resize();
does not update the canvas for visual cues. Seems as if their dimensions are bounded by old canvas size. Any workaround for this behavior?

[2019-08-07 23:52] manotoor commented on #23
Having this issue when calling, cy.resize(), my canvas for expand collapse is not being updated. Is there a way to explicitly call it with expand collapse api?

[2019-08-09 05:41] utkarshagarwal01 commented on #69
@hasanbalci Yes, the problem is solved for me now.

[2019-08-22 05:15] solemnify commented on #69
@hasanbalci @kinimesi Is there any way we can get a new release with this fix please?

[2019-08-26 10:25] Does666 commented on #11
@aindlq

I set edge's `curve-style`  to ‘bezier’, because I need two direction arrows. In my case, your workaround don't work well. If I delete `curve-style` setting, your workaround can work.

[2019-09-03 05:22] Does666 commented on #67
@ugurdogrusoz I'm so sorry to focus this issue and trouble you again. I find that if data has a little more complicated structure, for example more than three levels, the layout maybe look weird when expanding or collapsing nodes. The new layout may not base on the last positions, but may shift to a quiet far postions as a whole. I'm not sure this is the issue of `cytoscape.js-expand-collapse` ext

[2019-09-03 05:23] Does666 commented on #67
`
elements: [{"data":{"id":"G_18019","n":"a"},"group":"nodes"},
{"data":{"id":"G_18065","n":"collapse and expand me twice to look the weird behaviour"},"group":"nodes"},
{"data":{"id":"G_19297","n":"c"},"group":"nodes"},
{"data":{"id":"G_2","n":"d"},"group":"nodes"},
{"data":{"id":"G_20168","n":"e"},"group":"nodes"},
{"data":{"id":"G_18421","n":"f~~"},"group":"nodes"},
{"data":{"id":"n_0","n":"Ext

[2019-09-03 13:16] hasanbalci opened #82 "Update Cytoscape.js dependency"
Extension is problematic with Cytoscape.js versions 2.x and the recommended layout extension (cose-bilkent) supports Cytoscape.js ^3.2.0. Therefore, it would be good to change Cytoscape.js dependency of this extension as ^3.2.0 both in package.json and README.

Also, let's use the latest version of cose-bilkent in demo files.

**Edit:** The extension gives the same error [here](https://github.com/

[2019-09-03 14:34] hasanbalci opened #83 "User-defined cue images are not drawn in correct position"
Default image:
<img src="https://user-images.githubusercontent.com/22586369/64180417-67382280-ce6d-11e9-991f-243dbc017776.png" width="200" height="200" />

User-defined image:
<img src="https://user-images.githubusercontent.com/22586369/64180985-5d62ef00-ce6e-11e9-8ff3-d694afc4c6be.png" width="200" height="200" />

Therefore, clicking on the user-defined image may not trigger the required operatio

[2019-09-03 15:06] hasanbalci opened #84 "Error during undo operation"
If there is a collapsed node in the graph and we call collapseAll function, then undo operation throws error. It can be produced in undoable demo.

[2019-09-05 15:09] nasimsaleh commented on #82
i updated dependency to ^3.3.0

[2019-09-05 15:14] nasimsaleh commented on #83
It was bug with the usage of the 'drawImage' function parameters
Also found another minor bug where the option 'collapseCueImage' was dealt with as the expand cue image and vice versa. all fixed now

[2019-09-06 06:01] ugurdogrusoz commented on #82
@hasanbalci pls check and close if OK

[2019-09-06 06:01] ugurdogrusoz commented on #83
@hasanbalci pls check and close if OK

[2019-09-06 09:03] hasanbalci commented on #83
@nasimsaleh Why did you change the previous default cue images?

[2019-09-06 09:17] #83 closed

[2019-09-09 12:23] #82 closed

[2019-09-10 12:04] hasanbalci commented on #84
The bug is also valid for collapseRecursively function. If there are two nested compound nodes and the one inside the other is collapsed, then if we either call collapseAll function or collapseRecursively function on the outer compound node, undo operation throws error.

[2019-09-12 06:21] ugurdogrusoz commented on #53
@atabakhafeez Since expand-collapse extension provides its functionality through an API, you could easily implement a button or menu item which expands/collapses the *selected* compound node using the API. We plan to change the way visual cues are shown in the future as well. Rather than mouse over, we'll display visual cues for expand/collapse when node is selected.

[2019-09-12 06:21] #53 closed

[2019-09-12 06:26] ugurdogrusoz opened #85 "Unable to hit visual cues when they coincide with edges"
When an expand-collapse visual cue is right over an edge, expand-collapse will not be invoked since edges have priority over compound nodes and hit testing of expand-collapse visual cues rely on associated compound node being hit.
Let's change the way we display and listen to visual cues being clicked on. Similar to node resize extension, let's display expand-collapse visual cues only when a (sing

[2019-09-12 06:27] ugurdogrusoz commented on #84
@hasanbalci please leave a comment here on how we plan to fix this in a future release and unassign yourself.

[2019-09-12 15:56] ugurdogrusoz opened #86 "Revisit visual cue rendering and hit testing"
We've had many varying problems with visual cues in the past. I think we should change the way we display and listen to visual cues being clicked on. Similar to node resize extension, let's display expand-collapse visual cues only when a (single) node is in selected state. Then, detecting the hit of these visual cues should be easier (similar to resize handles in node resize extension).

[2019-09-12 17:03] ugurdogrusoz opened #87 "Compound edge clipping problem in demo"
In our demo where compounds are initially collapsed, the edges incident to compounds are not clipped properly. They go all the way to the center of the compound as opposed to being clipped on the edge of the node:
<img width="247" alt="Screenshot 2019-09-12 at 19 59 26" src="https://user-images.githubusercontent.com/3874988/64804876-6a7f8c80-d598-11e9-9044-cb1258a79813.png">

[2019-09-13 07:44] nasimsaleh commented on #87
Haystack edge type does not support compound nodes as stated [here](http://js.cytoscape.org/#style/edge-line). and 'haystack' is the default value for the edge curve style. Changed it now in the demo to 'straight' style and it works, I also tried it with all other curve styles and there are no problems.

[2019-09-13 07:58] #87 closed

[2019-10-03 06:38] #73 closed

[2019-12-13 11:11] shiv-veerashetty commented on #69
which release has this fix ?

[2019-12-13 11:13] ugurdogrusoz commented on #69
@shiv-veerashetty Use the latest: https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/releases/tag/3.2.0

[2019-12-13 11:55] shiv-veerashetty commented on #69
@ugurdogrusoz  still facing the same issue ... work well with cytoscape@3.3.6 though

[2019-12-13 12:15] hasanbalci commented on #69
@shiv-veerashetty This issue must have been solved with cytoscape-expand-collapse v.3.2.0. Can you please provide a reproducible test case? You can use [jsfiddle](https://jsfiddle.net) or [jsbin](https://jsbin.com/?html,css,js,output) to easily provide a code sample.

[2019-12-16 13:14] shiv-veerashetty commented on #69
@hasanbalci @ugurdogrusoz I have created a fiddle and it seems to be working fine !!! in vue application still i am getting the same issue. Debugging further, i will keep you guys posted with the progress.

Quick query ... Does fcose work with bounding box ?? Basically what i wan to achieve is to have two bounding box with different layouts. May be fcose & preset (defined positions). Any pointers

[2019-12-22 00:13] bentole commented on #38
I have created a workaround which allows for collapsed graphs to be stringified and saved to backend and restored. I am uncertain if there is a more elegant way to do this?

workaround [here](https://github.com/bentole/expand-collapse-save-fix
) if anyone is interested..

Also thanks alot for this superb cytoscape extension!

[2020-01-02 21:20] metincansiper commented on #23
@manotoor @mafar Does your problem remains when you use this extension from ``resize-fix`` branch (#89).

[2020-01-04 04:37] Does666 opened #90 "expandCueImage not working on the latest version 3.2.0 in Chrome dev mode"
I download the latest version and run the offical demo `demo.html`, unfortunately  the `expandCueImage`  not show. When I comment out `expandCueImage` and `collapseCueImage`, it works well to show the default cue.

After try out many times , I find that this case only occurs when open Chorme F12 develop tool. When close the develop tool, the issue disappear. It looks magic .

Does anybody meet thi

[2020-01-06 17:06] hasanbalci commented on #90
@Does666 I cannot reproduce this issue. Can you please specify your OS and browser specifications?

[2020-01-07 05:56] Does666 commented on #90
@hasanbalci  OS ： Window10 (1903)  Chrome : 79.0.3945.88 (32bit)

[2020-01-15 10:07] Does666 commented on #90
@hasanbalci Can you reproduce this issue ? My buddies could also reproduce it with Chrome by opening dev mode.

[2020-01-16 17:42] hasanbalci commented on #90
@Does666 As you can see in the gif, it works well while devTools is open with my Windows 10, Chrome 79.0.3945.117 (64-bit) setting. Unfortunately, I don't know why it doesn't work in your case or what can be the solution.
![cue-indevmode](https://user-images.githubusercontent.com/22586369/72548322-7e693100-389f-11ea-9f26-1495b1c5b5c0.gif)

[2020-02-16 17:31] torman119 opened #91 "Changed style is not applied to collapsed nodes"
We allow users to change the style of the whole graph (they can switch between different styles).
When we apply a new style to the graph via `"cy.style(style01)" `the new style is only applied to the visible nodes. If we then expand a node the nodes inside still use the previous style.
Current workaround we use is to apply the current style after nodes are expanded via
[code]
We tried with `cy.sty

[2020-02-17 05:59] ugurdogrusoz commented on #91
@torman119 Does the described workaround not work? Or you're trying to get a cleaner solution?
Let me make sure we understand the problem here. You apply a new style to a graph where you have some collapsed compound nodes. When collapsed compounds are expanded, you expect the newly exposed child nodes/edges to have the new style but they don't?

[2020-02-19 07:07] torman119 commented on #91
@ugurdogrusoz The workaround works, and it solves the issue.
And you describe the problem correct: child nodes in a collapsed node use the previous style after a new style is applied to the whole graph. A scenario would be theming which changes the colors of the nodes.
My expecation would be that a new style for the whole graph is also applied to collapsed nodes but the workaround works, so it is

[2020-02-19 07:56] hasanbalci commented on #91
The reason that the new style is not applied to child nodes is because extension temporarily removes the child nodes from the graph when a node is collapsed. In other words, the child nodes don't exist when the new style is applied. When the node is expanded, the child nodes are restored with their old styles. If the workaround works, then I think there is no problem.

[2020-02-19 08:52] #91 closed

[2020-02-19 09:14] hasanbalci commented on #91
@torman119 As an option, you can also try to apply the new style to temporarily removed child nodes by reaching them via extension API:

`api.getAllCollapsedChildrenRecursively()` Get collapsed children of all collapsed nodes recursively. Returned value includes edges and nodes, use selector to get edges or nodes.

[2020-02-20 11:01] denglouhen commented on #76
I am facing the same problem.

[2020-04-06 08:58] ugurdogrusoz opened #94 "Expand collapse edges"
When there are multiple edges between the same pair of nodes, we end up with either not easily seen set of edges or end up with expensive calculations of these edges (e.g. Bezier curves). So, let's allow a similar functionality for edges in this extension. The user should be able to specify whether all edges between a pair of nodes are to be collapsed into a single meta edge or only edges of the s

[2020-04-13 21:39] code247 commented on #76
Facing the same issue.

[2020-04-14 06:34] ugurdogrusoz commented on #94
Improvement suggestions with current partial implementation:
- When an edge doesn't have any type information in the field expected, assume it of a default / unknown type
- Get rid of redundancy in API
- When a collapse is performed and a new meta edge is created, its class should be similarly named as 'cy-expand-collapse-collapsed-edge'.
- When a collapse is performed and a new meta edge is creat

[2020-04-15 14:26] hasanbalci commented on #76
Currently, this must be solved in unstable branch and will be available in npm with a new release. When you click on the visual cue, `select` event is not triggered and node keeps its selection status after expand-collapse operation.

[2020-04-16 06:44] ugurdogrusoz commented on #76
Use the unstable branch to confirm the fix and let us know if you see a problem.

[2020-04-16 06:44] #76 closed

[2020-04-16 18:07] hasanbalci commented on #23
This must be solved with #89, so I'm closing. Open again if you see any problem.

[2020-04-16 18:07] #23 closed

[2020-04-20 08:52] nasimsaleh commented on #94
@ugurdogrusoz point 11 cannot be handled in the extension level. I handled as much as possible in the demo level to keep it simple. But it is hard to know whether a function like 'collapseAll' would do any work or not because much processing is needed, grouping, counting edges etc.

[2020-04-20 16:26] hasanbalci commented on #84
I think this was automatically closed long before, so I am opening it again.

[2020-04-20 17:17] hasanbalci commented on #94
I also encountered with missing edges after some undo-redo operations. Minimum steps I found to reproduce:
- Select at least two edges where each edge is between different node pairs.
- Click on "Collapse selected edges" and nothing happens.
- Apply undo, nothing happens again.
- Apply redo, edges disappear.

Suggestions for README:
- In new api functions, we can use `options` instead of `opts` as

[2020-04-21 09:55] nasimsaleh commented on #94
@hasanbalci  Could you please check?

[2020-04-21 11:37] hasanbalci commented on #94
@nasimsaleh The scenario I described above seems to be fixed, but in a different scenario I encountered with missing edge again:

![MissingEdge](https://user-images.githubusercontent.com/22586369/79861341-ef5b4000-83dc-11ea-9020-aed3394b3a1c.gif)

After clicking on "Expand selected edges", I apply undo and redo, and edge disapperar.

[2020-04-21 12:05] hasanbalci commented on #94
@nasimsaleh I was also testing with cytoscape.js v3.3.0 and all three expand functionalities give error in the console.

[2020-04-22 07:01] nasimsaleh commented on #94
@hasanbalci  Could you check again now?

[2020-04-22 08:02] hasanbalci commented on #94
@nasimsaleh It seems that the bugs I mentioned are fixed now. Thanks!

[2020-04-22 13:45] #94 closed

[2020-04-30 08:17] hasanbalci opened #95 "Events for edge expand-collapse"
Currently, extension has [events](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse#events) that are performed for each node that is collapsed/expanded. In the same way, event support for collapsed/expanded edges can be added.

[2020-05-01 17:37] ugurdogrusoz opened #96 "No nested edge collapse"
The extension seems to allow and correctly handle nested edge collapse. In other words, one can collapse say 3 of the 5 multi edges between the same pair of nodes, and then collapse again the remaining 2 original edges with the meta edge resulting from the previous collapse operation. While this may be useful, some applications would prefer to see original edges collapsed directly inside visible m

[2020-05-04 07:30] ugurdogrusoz commented on #95
@hasanbalci Please check and close if OK.

[2020-05-04 11:22] ugurdogrusoz commented on #96
Seems to work nicely. @hasanbalci Pls check as well and close if OK.

[2020-05-05 10:28] hasanbalci commented on #96
It seems ok, only new option should be added to README -> Default Options, then we can close it.

[2020-05-05 10:51] hasanbalci commented on #95
`beforeCollapseEdge` and `afterCollapseEdge` events are ok, but it seems that `beforeExpandEdge` and `afterExpandEdge` are not very useful currently. If user defines these events one time on the current edges while there is no meta edge, and then create meta edges by collapsing some edges, since meta edges are newly created they won't have these events. User will need to define these events each t

[2020-05-05 11:00] #96 closed

[2020-05-05 11:04] ugurdogrusoz commented on #95
- @canbax do you see a way to eliminate the problem mentioned by @hasanbalci ?

- Use of came case is nicer but would break backward compatibility. Let's consistently use all lower case.

[2020-05-05 11:37] canbax commented on #95
I think a user should not define these events on elements. [Here is the event I mentioned](https://js.cytoscape.org/#eles.on)

If the user should call a function each time an expand-collapse occurs, they should listen for [events occurring on the core cy](https://js.cytoscape.org/#cy.on)

Maybe this won't be enough for some cases but I can't think of an example.

[2020-05-05 12:23] hasanbalci commented on #95
Then, maybe we can change the documentation of the events to
`cy.on("expandcollapse.beforecollapse", function(event) { var node = event.target; ... })` for nodes and
`cy.on("expandcollapse.beforecollapseedge", function(event) { var edge = event.target; ... })` for edges.

[2020-05-06 10:02] #95 closed

[2020-05-12 18:57] ugurdogrusoz commented on #86
As far as I could test with the demo and the daily Newt, I see the following problems:
- [ ] 1. Compound nodes will not show the visual cue for collapse **the first time** they are selected. After the first time, things look fine.
- [ ] 2. If a node is selected and the zoom level changes, we lose the visual cue for expand/collapse (unlike the resize handles and the resize node to content cue).
- [

[2020-05-15 10:53] hasanbalci opened #97 "Weird result after expanding without layout"
When layout is not specified, graph is not drawn correctly after expand operation. Probably, there is a need for style update at some point after nodes are expanded.

[2020-05-18 10:56] hasanbalci commented on #86
It seems ok, so I'm closing.

[2020-05-18 10:56] #86 closed

[2020-06-04 08:45] denglouhen opened #99 "IE11 error"
I just use this extension in my Vue project.
My code is
[code]

Then the IE11 throws an error 'TypeError: Object does not support "append" attribute or method
.....
 at module.exports (eval code:394:5)
   at Anonymous function (eval code:286:9)
   at Anonymous function (eval code:2219:9)
   at run (eval code:75:13)
   at Anonymous function (eval code:92:30)
   at flush (eval code:18:9)",
      Sym

[2020-06-04 08:46] denglouhen commented on #99
"cytoscape": "^3.14.1",
 "cytoscape-expand-collapse": "^3.2.0"

[2020-06-04 19:53] hasanbalci commented on #99
Apparently, there are some code snippets in the extension that aren't supported by IE11 including "append" method. Hence, it's currently not compatible with IE11.

[2020-06-10 09:49] ugurdogrusoz opened #100 "Node and edge collapse do not work together"
- Construct a graph with 2 compounds and 2 inter-graph edges between the same source-target in these compound nodes
- Collapse the inter-graph edges into a meta edge m1
- Now collapse one of the compound nodes (this will create a new meta edge m2 which represents m1)
- Expand the meta edge m2
We get an exception.

[2020-06-11 13:58] canbax commented on #100
I also observed this. Probably the reason is when a compound node is collapsed, its children are removed from cy.

When we expand a meta edge, source or target of an edge might be inside a compound node. In this case, since source or target of an edge won't be found, cytoscape.js gives an error.

![c8ERNCijiY](https://user-images.githubusercontent.com/8426741/84393674-8a65de80-ac04-11ea-87ea-4c49d

[2020-06-16 03:09] raj-reactgeeks opened #101 "Prevent disturbing shape on the expansion a node on the first time"
I am getting shape disturb issue when I click on plus icon of expand the node for the first time,
initially, it makes bigger shape then comes on an actual shape after some time might be in stop layout.

Expand is working very fine from the next expand time without disturbing ui only getting an issue at the first expand only.

Can anyone help me to get an exact shape in initial or fist time expand

[2020-06-23 09:36] Does666 opened #102 "how do I get all edges after collapsed"
I use the latest version of this plugin and see the amazing `merge edges` feature.
When collapse one node,  the edges from this nodes also collapse as an edge.
Now, I could use `cy.nodes()` to get all collapsed nodes, that's ok. While using `cy.edges()` can't get collapsed edges, but got all edges.

So, how do I get all edges after collapsed?

[2020-06-24 17:44] hasanbalci commented on #102
@Does666 Please correct me if I misunderstand you. Let's say you have 3 edges and when you collapse them into one edge and when you run `cy.edges()`, you get 3 edges instead of one collapsed edge. Actually, this shouldn't be the case, cy.edges() returns one collapsed edge in that case. If this is your problem, please can you provide a JSFiddle or JSBin demo to reproduce this issue?

[2020-06-27 04:47] Does666 commented on #102
`
<!DOCTYPE >

<html>
  <head>
    <title>cytoscape-expand-collapse.js demo</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"
    />

    <script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

    <script src="https://unpkg.com/layout-base/layout-base.js"></script>
    <sc

[2020-06-27 04:58] Does666 commented on #102
@hasanbalci I used the official demo, and changed my simple data. After run it, you will see two nodes `p` and 'd', and one edge `p` to `d`. Now run `cy.edges()` , you will get 3 edges.

[2020-07-06 10:58] hasanbalci commented on #102
@Does666 In your example, when you collapse the compound node, the edges are not collapsed into one edge, but since your curve-style is 'straight', all 3 edges seem on top of each other. That's why you get 3 edges. If you change curve-style to 'bezier', you can see all 3 edges. Extension doesn't collapse edges automatically unless any edge collapse function in the API is called.
![image](https://u

[2020-07-06 11:00] hasanbalci commented on #101
@raj-reactgeeks Please can you provide a JSFiddle or JSBin demo to reproduce this issue?

[2020-07-12 17:35] #102 closed

[2020-07-23 12:50] hasanbalci opened #103 "Weird behavior during edge collapse"
While testing, I faced with the following:
![Peek 2020-07-23 15-23](https://user-images.githubusercontent.com/22586369/88285975-af1b9e80-ccf8-11ea-8e95-ab097ce817b6.gif)

In this case, either only loops should be collapsed or none.

[2020-07-28 08:43] canbax commented on #103
When I select edges with completely different source target pairs, it does not collapses. So to be more consistent I also didn't collapsed here.

[2020-07-28 09:33] hasanbalci commented on #103
@canbax @ugurdogrusoz It's ok now, but I also realized that when we click on "Collapse all edges" in the demo, loops are not collapsed. Maybe we can collapse them as well. What do you think?

[2020-07-28 09:43] canbax commented on #103
I think we should collapse the self loops as well.

[2020-07-28 12:40] ugurdogrusoz commented on #103
Sure let's collapse them as well.

[2020-07-28 16:26] hasanbalci commented on #103
There is still a small inconsistency:
![Peek 2020-07-28 19-14](https://user-images.githubusercontent.com/22586369/88692390-ad8e1400-d106-11ea-88cd-aabb0a8b800c.gif)

Moreover, I think demo file checks whether there are at least two selected nodes when clicked on "Collapse edges between selected nodes" and "Expand edges between selected nodes". I think we can remove this check so that when we only

[2020-07-29 08:41] hasanbalci commented on #103
@canbax It seems working, thanks!

[2020-07-29 08:41] #103 closed

[2020-08-04 10:51] #101 closed

[2020-08-04 10:52] #90 closed

[2020-08-04 10:58] ugurdogrusoz opened #104 "Default clustering in the demo"
Enhance the demo (choose an appropriate one of the demos) by taking an arbitrary flat graph and generating a hierarchically clustered version, where clusters are represented by compound nodes. This should be useful in providing a default mechanism to handle complexity of large graphs. For clustering, we could try using [this algorithm](https://js.cytoscape.org/#nodes.hierarchicalClustering) or som

[2020-08-05 12:54] msalihaltun commented on #99
I was able to solve the problem with `append` method by using `appendChild` method in its place since it was appending only one element.

Solving this problem revealed some other issues though. IE11 lacks support (at least) for [arrow functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions) and [`Array.from`](https://developer.mozilla.org/en-US/docs/W

[2020-08-05 13:18] ugurdogrusoz commented on #99
OK, let's forget about IE 11, not a recent browser anyway.

[2020-08-05 13:18] #99 closed

[2020-08-25 13:07] ugurdogrusoz commented on #104
- When I upload some graphml files, I see some disconnected nodes (corresponding to *empty* clusters). We should remove those during clustering.

- "markov" -> "Markov"

- Limit Markov clustering depth to be greater than 0

- Let's add a checkbox with title "Apply Markov clustering on load" at the end and apply Markov clustering automatically if this is check during uploading from a file.

- Let's

[2020-08-27 05:45] ugurdogrusoz commented on #104
1 Those disconnected nodes are gone but I see some flickering on load (when apply Markov on load is checked). Try checking this option, then load circle.graphml in the samples. Note that the graph is first rendered in the middle of the canvas and then rendered again to the lower left and moved to the center with animation.

3 I can still make the depth 0 or negative.

[2020-08-27 12:34] ugurdogrusoz commented on #104
On load, there is still flickering as described in previous comment. Let's leave this for later.

[2020-09-04 10:08] itf commented on #38
I made a different workaround inspired by bentole's workaround.

Before any function that could get messed up because of collapsed nodes, I uncollapse them by calllng collapseFix on those nodes, and afterwards I call collapseFixRestore.

[Here is the workaround](https://gist.github.com/itf/8210baf5816644edc24a3f9e062654ac)

[2020-09-08 13:14] celine3d opened #107 "Get bounding box size of compound nodes"
Hi I am using cytoscape with compound nodes with the usage of cytoscape-extend-collapse. On before expand I would like to know what is the bounding box of children, I checked with autoWidth and height but they seem to be undefined. Is there a way to tell? My piece of code:
cy={cy => {
setCy(cy);
cy.nodes().on('expandcollapse.beforeexpand', e => {
const targetPosition = e.target.position();
const t

[2020-09-08 13:14] celine3d opened #108 "Get bounding box size of compound nodes"
Hi I am using cytoscape with compound nodes with the usage of cytoscape-extend-collapse. On before expand I would like to know what is the bounding box of children, I checked with autoWidth and height but they seem to be undefined. Is there a way to tell? My piece of code:
cy={cy => {
setCy(cy);
cy.nodes().on('expandcollapse.beforeexpand', e => {
const targetPosition = e.target.position();
const t

[2020-09-09 05:31] ugurdogrusoz commented on #107
Redundant (#108), closing

[2020-09-09 05:31] #107 closed

[2020-09-09 10:44] celine3d opened #109 "Cytoscape with expand collapse in react no expandable"
Hi, here is my implementation. The graph works fine, cytoscape expand collapse is also working at first render(at first all nodes are collapsed, as I am doing collapseAll when ready) but then there is no icon on parent node with nested children, hence expand is not possible. Is there something wrong with my implementation. Can someone please take a look at it?

import React, { useEffect, useState,

[2020-09-09 12:36] hasanbalci commented on #109
In the current version of the extension, expand/collapse cues are shown when parent nodes with nested children are selected. You can see this in the demos. However, since you use `autounselectify: true,`, you disable the node selection and therefore cannot activate expand/collapse cues.
If disabling node selection is necessary for your application, you can use the previous release (v3.2.1) of the

[2020-09-09 12:39] celine3d commented on #109
You are the best- thank you so much!!!

[2020-09-09 12:40] #109 closed

[2020-10-14 20:03] bensonnw opened #114 "Collapse a large compound node is slow"
In our project, we have a compound node contains more than 17000 nodes, when collapsing it, it took about 30 seconds. After some investigation, the API `expandCollapseUtilities.removeChildren` is taking most of the time, it seems like the following code inside the For loop is pretty expensive:

      ......
      var removedChild = child.remove();
      if (root._private.data.collapsedChildren ==

[2020-10-15 08:34] hasanbalci commented on #114
@bensonnw Thanks for your suggestion, we will evaluate it before the next release.

[2020-10-15 13:33] bensonnw commented on #114
@hasanbalci Thanks for quick response, would you mind to tell me when is your next release?

[2020-10-22 13:44] bensonnw opened #115 "API "getAllCollapsedChildrenRecursively" is very slow"
Our collapsed compound nodes contain a lot of sub-nodes, when calling API `getAllCollapsedChildrenRecursively`, it takes more than 30 seconds to return. The following code (expandCollapseUtilities.getCollapsedChildrenRecursively) inside a For loop is very expensive:

collapsedChildren = collapsedChildren.union(children[i]);

Remove it and do "collapsedChildren = collapsedChildren.union(children);"

[2020-10-23 15:47] luisflpereira opened #116 "It's not working when 'cytoscape.js-edgehandles' or 'cytoscape.js-edge-editing' is used at the same time with expand-collapse"
I'm trying to use **cytoscape.js-expand-collapse** together with **cytoscape.js-edgehandles** and **cytoscape.js-edge-editing** but for some reason it's not working.

When I click on expand/collapse icon nothing happens.

[2020-10-28 09:36] celine3d opened #117 "Error: Can not register expandCollapse for core since expandCollapse already exists in the prototype and can not be overridden."
I am using cytoscape.js in react and cytoscape.js-expand-collapse. I register this extension at the very begining of my file as shown in docs: https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse: by doing expandCollapse( cytoscape ); and it works only on first render. When I come back to my cytoscape component I receive following error: Can not register expandCollapse for core since ex

[2020-11-15 09:39] mdub commented on #117
I'm having the same issue, but this work-around seems to be working for me:

[code]

[2020-12-22 08:27] ugurdogrusoz opened #118 "Improve demos"
Let's improve the demos as follows:
- [x] 1. Make all demos' look & feel similar
- [x] 2. Combine node and edge expand/collapse demos
- [x] 3. Add import/export buttons to expose newly implemented load from/save to JSON functionality

[2020-12-24 06:14] ugurdogrusoz commented on #118
Very nice. Additionally, let's do:
- [ ] 4. Add two buttons, under Nodes, at the beginning ("Add compound for selected" and "Remove selected compound") that
    o creates a compound from all nodes currently selected (nothing happens if all nodes aren't in the same graph)
    o removes the selected compound moving its children to the owner graph of the compound (nothing happens if multiple selectio

[2020-12-24 06:21] hasanbalci commented on #118
An additional point:
- [ ] When we apply Markov clustering on a graph, clustering button becomes disabled. When a new graph is loaded to the demo, clustering button should be enabled again so that user can apply clustering on the new graph.

[2020-12-24 11:29] ugurdogrusoz commented on #118
@hasanbalci please check

[2020-12-30 15:19] cbisaccia78 opened #119 "Expanding compound node dis-aligns the rest of the graph"
Here is how the bug occurs for me:

I collapse and then expand a compound node. After the expansion, all the other nodes in the graph contained in other compound nodes get displaced slightly. This displacement is enough to "disconnect" the edges from their respective nodes. However, once i click on the compound node that contains the displaced nodes, they all snap back into place as if they were n

[2020-12-30 15:22] cbisaccia78 commented on #119
![Screenshot from 2020-12-29 14-59-39](https://user-images.githubusercontent.com/26528217/103363355-edc43a80-4a88-11eb-928d-9e55586c8fcf.png)

[2020-12-30 15:23] cbisaccia78 commented on #119
![dis-alignment](https://user-images.githubusercontent.com/26528217/103363445-1a785200-4a89-11eb-9143-d30fb1738cef.png)

[2020-12-30 15:26] cbisaccia78 commented on #119
This is what the graph looks like after dis-alignment
![dis-alignment](https://user-images.githubusercontent.com/26528217/103363621-8b1f6e80-4a89-11eb-9308-a65a26bb4d14.png)

[2020-12-30 16:08] cbisaccia78 commented on #97
@hasanbalci I believe i'm running into this issue as well. is there a "default" layout that only effects the expanding compound node?

[2020-12-30 16:20] #119 closed

[2020-12-30 16:20] cbisaccia78 commented on #119
issue was the layout i provided

[2020-12-31 07:56] hasanbalci commented on #118
It seems ok, thanks @canbax

[2020-12-31 07:56] #118 closed

[2021-01-25 17:01] Alexithemia opened #120 "Option to Display number of collapsed nodes on collapsed groups"
Would you be able to implement an option for the collapsed groups to display how many nodes are collapsed within it?

Or do you know of an easy way to achieve this? I am already using the label normally.

![image](https://user-images.githubusercontent.com/44597137/105738489-b0729180-5efc-11eb-8d82-3438ca3f0e96.png)

[2021-01-26 05:24] ugurdogrusoz commented on #120
@canbax The users should be able to access number of such nodes, right?

[2021-01-26 05:46] canbax commented on #120
When the nodes are collapsed, the information about the collapsed children is stored inside their data with a property named `collapsedChildren` (both edges and nodes inside) So the API users can get this info easily. So the API user can show this information in their application. (a sample case would be showing this information inside the "Object" tab in [newt](http://web.newteditor.org/))

This

[2021-01-26 16:00] Alexithemia commented on #120
I did see how I would get the number from the collapsed node, and I will need to filter out only the nodes as edges are also in the collapsed children collection, adding it to the label would be easy but the badge look is what we want.

How would we go about showing that as a badge like the cue image?

[2021-01-26 16:37] ugurdogrusoz commented on #120
That's a Cytoscape.js core issue not related to this extension. You could use background images for instance.

[2021-01-26 16:37] #120 closed

[2021-01-29 20:14] Alexithemia opened #121 "Option to not remove collapsed nodes"
Have you considered not removing child nodes that would be collapsed and instead giving them a class that would style default to the nodes being display: none?

This way the nodes are still in the graph when collapsed and can still be searched/selected/removed through Cyto.

Could possibly be more performant not adding/removing elements all the time as well?

[2021-01-30 06:43] ugurdogrusoz commented on #121
@Alexithemia The main point of having this extension is complexity management. Through  compound nodes we would like to cluster / group nodes and using collapsing we would like to give the users a chance to work on a much smaller graph. Not just in terms of rendering but also keeping a reasonably sized graph model. So it would defeat this purpose.

[2021-01-30 09:31] canbax commented on #121
You can search the collapsed elements with a simple recursive algorithm. The collapsed elements are not in cytoscape.js but are stored in a data property named `collapsedChildren`. You can read it like `ele.data('collapsedChildren')`

[2021-01-30 13:26] #121 closed

[2021-02-01 15:29] Alexithemia commented on #121
@canbax I understand how they are saved under data on the parent nodes, but they basically become inaccessible nodes through cytoscape when collapsed. I cannot select them, find them in a search to pan to or manipulate, and you cannot remove them, as they are already removed, and then uncollapsing the node it is re-added. To access them you would also have to know what node they are collapsed onto

[2021-02-01 17:12] ugurdogrusoz commented on #121
@Alexithemia I do understand what you're suggesting but if "the nodes would still exist in cytoscape for manipulation", that defeats the purpose. then we're only managing the complexity of the graph on the display but not in the memory.
Besides, we have invested far too much to make such a change.
Feel free to implement an alternative implementation (perhaps with an appropriate option that does yo

[2021-03-04 13:40] ugurdogrusoz opened #122 "Demo on load clustering improvement"
Now the demo allows the user to "Apply Markov clustering on load" and bring the graph already simplified through possibly multiple levels of clustering. However, when we expand these collapsed clusters, we get poor initial positions for expanded content. So we should try applying **partial layout** on each cluster content before collapsing them. That way collapsed content will have some decent lay

[2021-03-05 09:25] hasanbalci commented on #122
Now, when we expand collapsed clusters we get better initial positions for expanded content.

However, when we create a node and move a cluster as the child of this node, position and size values of the node are not updated immediately and the collapse operation applied subsequently cannot get correct position and size values of the node. I temporarily solved the position problem but size problem

[2021-03-09 10:11] canbax opened #123 "Expanding all the collapsed nodes causes a bad layout"
- open [https://codepen.io/canbax/project/editor/XWedGa](https://codepen.io/canbax/project/editor/XWedGa)
- Click to "Add Labels" and then "Expand All Nodes"
- You will see that the layout algorithm (fcose in this case) is not giving good results.

- refresh the page and then click to "Expand All Nodes". This time you will see the layout is fine.

I observed another strange thing:
- When nodes are

[2021-03-18 06:39] canbax commented on #38
@itf @bentole @hotpeperoncino Now unstable version has `loadJson` and `saveJson` functions. You can try it and maybe close this issue it works fine.

[2021-03-19 07:32] hasanbalci commented on #123
This should be fixed now. @canbax @ugurdogrusoz Can you please verify?

[2021-03-19 08:52] canbax commented on #123
I checked this with the codepen sample (I used the latest cytoscape-expand-collapse.js in the sample) It seems fixed there.

Also, I tested on http://visuall.herokuapp.com/ It also seems fine.

[2021-03-20 10:26] #123 closed

[2021-06-16 11:30] msalihaltun commented on #122
Closed with keyword 'resolve'.

[2021-06-18 03:02] FerMG opened #124 "Losing edges bug"
Hello, is this a bug?

![ezgif-2-4875f5e4355d](https://user-images.githubusercontent.com/13823925/122499924-2a003e80-cfc8-11eb-9161-9c7a1a797fd3.gif)

[2021-06-18 09:11] ugurdogrusoz commented on #124
Yes, this is a known [issue](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/issues/100). Closing this to avoid redundancy.

[2021-06-18 09:11] #124 closed

[2021-07-25 04:00] abulka commented on #116
Similarly, using this extension with `cytoscape.js-node-editing` (for user node resizing) breaks the ability to resize nodes.

[2021-07-26 12:47] hasanbalci commented on #116
@abulka I created a demo that uses `cytoscape.js-node-editing` together with `cytoscape.js-expand-collapse` [here](https://jsbin.com/vizawahoku/edit?html,output). It seems working, what do you mean with "breaks the ability to resize nodes"?

[2021-07-27 23:33] abulka commented on #116
@hasanbalci Thanks for the (nice) demo which accurately shows the two plugins working OK together.

It turns out that the order of initialisation is important - `cy.expandCollapse()` must be called *before* `cy.nodeEditing()`.
See a [fork of your demo](https://jsbin.com/cufuxicaxi/1/edit?html,output) where `nodeEditing` is initialised first and the resizing of nodes is broken.

[2021-07-28 05:47] hasanbalci commented on #116
@abulka It's related with the `zIndex` options of the extensions. Both expand-collapse and node-editing extension add a new canvas to draw expand/collapse cue or resize grapples and z-index values of both canvases are 999 by default. When expand-collapse called after node-editing, its canvas prevents interaction with node-editing items because its canvas covers entire viewport. However, if you cha

[2021-07-29 03:35] ugurdogrusoz commented on #116
@hasanbalci for the extensions where we have these problems, can we remark in the readme the fact that when using the extension with certain other the order will matter for the reason you explain?

[2021-07-30 13:30] sashokbg commented on #117
I am having the same issue but I cannot figure out how to apply the fix. In my case It fails on first load. Any help is appreciated.

[2021-08-06 00:24] abulka opened #125 "flex layout not respected"
When I embed cytoscape in a flex layout

[code]

![image](https://user-images.githubusercontent.com/11467530/128436011-7c877cf7-bdb5-4f34-a456-1d0febdf2c84.png)

(which keeps everything the user sees in the visible window, with a nice header and footer area) - as soon as I enable the `expand-collapse` extension the cytoscape area becomes huge and escapes/overflows the HTML document window, pushing

[2021-08-06 11:14] hasanbalci commented on #125
@abulka It seems like this is a valid issue. Probably, the way we use canvases that are drawn for expand/collapse cues or resize handles conflicts with the flex layout. Currently, we don't have enough resources to deal with this issue, if you want, you can open a pull request. Thanks!

[2021-11-02 12:32] sashokbg opened #126 "Collapsed children are not in graph"
Hello,

I am developing a feature where I have to locate a node on the graph and when my node is a part of a collapsed node the following query does not return anything:

cy.getElementById('my-node');

When I expand the node and the children become visible, the above code returns my object.

Is there a way to search within collapsed nodes' children ?

Thank you

[2021-11-02 12:44] hasanbalci commented on #126
@sashokbg You can use one of the API functions such as `api.getCollapsedChildren(node)`, `api.getCollapsedChildrenRecursively(node)` or `api.getAllCollapsedChildrenRecursively()`. See [README.md](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/blob/master/README.md) for more details.

[2021-11-02 12:55] sashokbg commented on #126
Hello @hasanbalci thank you for your prompt response it worked correctly !

For the curious here is what I, as you suggested:

api.getAllCollapsedChildrenRecursively().filter('node[id = "my-node"]')

--

I was thinking, wouldn't it be possible to just hide collapsed nodes' children instead of removing them from the graph ?
This way all basic operations like cy.$() will still function.

[2021-11-02 13:32] hasanbalci commented on #126
Hi @sashokbg, I'm glad that it solved your problem. For your suggestion, you can see [this discussion](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/issues/57) and especially the [answer](https://github.com/iVis-at-Bilkent/cytoscape.js-expand-collapse/issues/57#issuecomment-369639109) of @ugurdogrusoz. Because the main purpose of the extension is to manage complexity, we prefer r

[2021-11-02 14:07] sashokbg commented on #126
Thank you once again, I will check the discussion !

[2021-11-02 14:07] #126 closed

[2021-11-02 14:47] sashokbg opened #127 "Recursive Expand Parents"
**This is a feature proposal:**

**Context**
Currently there is a very useful function that allows to recursively expand a node and its descendants (children) - expandRecursively()

** Proposal **
Create a function similar to expandRecursively() called expandParentsRecursively() and that works in the other direction i.e. taking a child and expanding its parents until no more parents are available.

[2021-11-05 06:18] hasanbalci commented on #127
Hi @sashokbg, I think that this feature (even though not exactly) may be achieved by using the current API. Expand-collapse has the following API function:
`api.getParent(nodeId)` Get the parent of a node given its node id. Useful to reach parent of a node removed because of collapse operation.
By using this function, you can trace the ancestors of a removed node until you can find an ancestor tha

[2021-11-06 14:31] sashokbg opened #128 "Exception - Expanding Collapsed Edges of a Collapsed Child"
Hello, I have stumbled upon two bugs (possible more) when I try to expand edges that are pointing to a child of a collapsed node:

I have created a small demo file to reproduce the issue - you can check out at https://github.com/sashokbg/cytoscape.js-expand-collapse.git branch **bug/child_collapse_edges** file: demo/demo-bug.html

### Bug 1 Disappearing edges - Steps to reproduce:

0. Starting gra

[2021-11-06 16:38] sashokbg commented on #128
I have debugged for a while and it seems both problems are coming from **barrowEdgesOfcollapsedChildren**.

In the case of the first bug, it turns out when collapsing a node, and it has edges that have already been collapsed, we are not properly creating the _cy-expand-collapse-collapsed-edge_s.
A quick fix for this issue is proposed in #129

[2021-11-07 09:29] sashokbg commented on #127
Hello @hasanbalci, thank you for your answer.
I ended up writing the function as you suggested.

(Written in typescript)
[code]
If you think such a function can be beneficial for the project, I can create a PR.

[2021-11-08 14:39] sashokbg commented on #128
A better fix is available at #131

[2021-11-22 23:29] sashokbg commented on #128
Can anyone of the maintainers please take a look ? @metincansiper @hasanbalci

[2021-12-31 06:50] gabrywu commented on #100
any updates?

[2021-12-31 06:54] canbax commented on #100
It is about user behavior. You should not let the user expand such an edge.

[2022-01-12 10:31] sashokbg commented on #128
Anyone ?

[2022-02-07 21:27] bensonnw opened #133 "Undefined variable in 'expandCollapseUtilities.js'"
Go to line 745 of the file,

`edgesTypeField = options.edgeTypeInfo instanceof Function ? edgeTypeField : options.edgeTypeInfo;`, the variable `edgeTypeField` after the question mark is undefined, it should be `edgesTypeField`

There is a runtime error whenever using option with `edgeTypeInfo`

[2022-02-08 08:10] hasanbalci commented on #133
@bensonnw Thanks for noticing us. The bug is fixed in the unstable branch and will be available in the master branch with the next release.

[2022-03-10 16:55] mkelly1495 opened #134 "Please Provide a @types/cytoscape-expand-collapse file to enable use in typescript projects"
The current module does not work with npm typescript projects without manually declaring the existence of the module. Please provide a `@types/cytoscape-expand-collapse` to enable easy use in typescript projects.

[2022-03-14 12:58] mkelly1495 opened #135 "Ordering of children is not preserved"
Each time a node is expanded, all of the children are reversed in order. This is true for all descendants of an expanded node. So if I have a parent `A` that has children `Ba, Ca, and Da`. The first time I expand the node, the children have the expected order. However, if I collapse node `A` and then expand it again, the ordering of the children is reversed `Da, Ca, Ba`. This is recursively true f

[2022-03-14 13:02] #135 closed

[2022-04-19 16:18] Alexithemia opened #136 "Adding new data to collapsed workspace"
I am finding it difficult to add new data to an already collapsed workspace, specifically when I am adding nodes that should be collapsed under nodes that have already been collapsed.

Expanding the whole graph and then collapsing again after loading is probably the easiest thing to do, but seems a little overkill and requires a lot of processing and load time.

I also attempted programmatically f

[2022-04-19 19:33] canbax commented on #136
You should write a recursive function and find the collapsed node. Collapsed nodes are removed from cytoscape.js but they stay in the memory. You should investigate `collapsedChildren` properties

[2022-04-20 15:15] Alexithemia commented on #136
So I am able to just insert a cytoscape node object into the `collapsedChildren` collection?

Have you considered making an object map for nodes that are removed when clustered to get quick simple access to important datapoints? I know there are ways to get these objects currently, but it's not very performant to do repeatedly, and it seems like it would be simple and quick to update the reference

[2022-04-26 15:06] jacksonneal commented on #136
@Alexithemia

Did you find an approach that allows you too add collapsedChildren nodes?  I am in a similar situation, needing to add collapsedChildren and edges to the collapsedChildren.

[2022-04-26 15:56] Alexithemia opened #137 "Getting collapsed edge containing certain edge"
Is there any way to get the collapsed edge that an edge belongs to?

For example, a certain part of my app selects a certain edge, that is collapsed into a group edge, I want to indicate that group edge as selected to show that. How can I find that edge?

I know there is `api.getParent(id)` but that does not work for edges.

[2022-04-27 05:48] canbax commented on #137
Hi @Alexithemia

Collapsed edges are stored inside the data property `collapsedEdges`. So you can read them like `edge.data('collapsedEdges')`. Note that, edges inside this data property can also contain **collapsedEdges**. So to get all the collapsed edges properly, you might need to write a **recursive** function.

In fact, API methods similar to `getCollapsedChildren` and `getCollapsedChildrenR

[2022-04-27 06:08] canbax commented on #136
@Alexithemia I think if you are going to add **NEW** elements to collapsed children, you should add them to Cytoscape.js. Otherwise, there is no similar thing to a node "constructor" or "creator" function.

Secondly, I see that API has `getCollapsedChildrenRecursively` and `getAllCollapsedChildrenRecursively` functions. So the recursive function is already in the API, you don't need to write anoth

[2022-04-27 15:02] Alexithemia commented on #136
@canbax I'm not really creating a function to get all the children, I am simply adding the node objects to a node map I have created for other uses as they are added to the graph, before they are collapsed. This object is the same after it is removed and collapsed under other nodes.

That way I can easily access them by going `nodeMap[id].graphNode` to get a singular element I need to edit or inte

[2022-04-27 15:32] Alexithemia commented on #137
Unfortunately there does not seem to be a way to go upwards like with `api.getParent()` looking through the collapsed children of each edge to find the one that matches wouldn't be very performant.

Currently I'm using a sketchy fix by getting the source and target of the edge, and using `source.edgesWith(target)` to find the collapsed edge between them and then modify it, but there are some compl

[2022-04-28 06:44] canbax commented on #136
Ok. Still you can use `getCollapsedChildrenRecursively` and/or `getAllCollapsedChildrenRecursively` methods to achieve this easily.

[2022-04-28 14:39] Alexithemia commented on #137
@canbax could a simple `getParentEdge()` function be created or add a reference to the new group edge in the data of the removed edges to easily reach the existing edge?

[2022-04-28 15:39] canbax commented on #137
No, it is not simple. Why don't you follow what I said? Just a recursive function and iterate through all edges and their collapsed children.

Also here what is a parent? If nesting is allowed a parent might be a collapsed edge.

[2022-04-28 19:35] Alexithemia commented on #137
Because iterating through possibly thousands of edges to check each of it's edges in collapsedEdges is very process heavy, when having a reference to the edge it is collapsed under would take a single operation.

Here's an example of what I'm trying to get this to do.
A user searches and finds an edge through an external panel where we list everything in the workspace and selects it there.
We want

[2022-05-09 12:22] canbax commented on #137
@Alexithemia iterating through 4000+ edges should be fast if your algorithm is linear (it should be). Did you try that?

Secondly, collapsing edges is done manually by the API user. So you are the one who is collapsing edges. So you can keep a map on your own. You can also listen for events like `expandcollapse.beforecollapseedge` and `expandcollapse.beforeexpandedge`

[2022-05-09 16:22] jonlev1n commented on #128
I came here to report this exact issue. Can we get any insight from the maintainers to respond or accept #131? Or alternatively explain why they cannot/will not use this fix?

[2022-05-16 03:27] Revadike commented on #128
+1

[2022-05-16 06:10] canbax commented on #128
The first bug doesn't seem like a bug to me. It is a misuse of the API. You should not let the user expand a `cy-expand-collapse-meta-edge` It is a meta edge created after you collapsed a compound node. First, the compound should be expanded since the source/target doesn't exist.

For the second, I can also say this is not a bug if you first expand the collapsed edge. But this time, expanding all

[2022-05-16 07:26] hasanbalci commented on #128
"Collapse/expand edges" feature was added later. It seems that its interaction with the "collapse/expand nodes" feature wasn't considered comprehensively during addition of this new feature. Therefore, these side-effects/bugs are possible. However, expand-collapse is a rather complex extension and solving such bugs requires a detailed analysis and effort. We don't want to add bug-specific patches

[2022-05-16 20:24] sashokbg commented on #128
I am sorry to disagree but those are obviously bugs. Calling an API function that completely breaks the library, or wrongly reconstructs your edges afterwards is a definition of a bug.
Either the API should not allow such scenarios or if does they should not break anything.

[2022-06-21 11:06] #133 closed

[2022-08-11 12:23] OskarHowe opened #138 "expand(nodes, option) does not respect the passed options"
Hi,
I have observed, that the expand(nodes, options) function does not apply correctly the passed options, when called.

**Reproduce the issue:**
1. Display the graph with a layout and specify this layout in the options object `layoutBy : {name: dagre}` field
2. Collapse all nodes and edges with
2.1. `collapseAll(options)`
2.2. `collapseAllEdges()`
3. Change the layoutBy field in the options objec

[2022-08-19 13:34] OskarHowe commented on #125
@abulka Hi, I experience the same problem. Did you find a fix in the meantime ?

[2022-08-19 23:22] abulka commented on #125
I have no workaround sorry - my cytoscape project is on hold till this is fixed, if ever.

[2022-09-30 11:42] Phpaulsen opened #139 "Example for a layout function"
Hi,
I am currently working on a project that will use your extension. In your options it says:
_"layoutBy: null, // to rearrange after expand/collapse. It's just layout options or whole **layout function**. Choose your side!"_
and I don't really understand what is meant by "layout functions".
I did not find any examples for layout functions in cytoscape which can be passed as an argument/parameter

[2022-09-30 12:23] hasanbalci commented on #139
Hi, you can give a layout function in the following way:
[code]
The example layout function shifts node positions 50 units each time. You can write another layout implementation for your own purpose.

[2022-09-30 17:29] #139 closed

[2022-10-05 12:06] HieronymusLex opened #140 "Update saveJSON to return serialized data"
Currently the `saveJSON` returns nothing and always writes to file, however there are use cases where one would want the contents of what `saveJSON` is writing, without actually writing it to a file (e.g. in order to pass the data to an API call).

Could we have `saveJSON`:

1. Conditionally write to file
2. Return the stringified data that is being written

Alternatively, this could be surfaced v

[2022-10-07 17:38] hasanbalci commented on #140
I think you're right. We will look into that.

[2022-10-12 10:09] hasanbalci commented on #140
Now, `saveJSON` always returns the stringified data and writes to a file only if `filename` parameter is provided. If not, it doesn't write to a file. The change is done in the *unstable* branch and will also be active in the master branch when we merge it before a release. @HieronymusLex, can you please verify and close the issue if it is ok?

[2022-10-20 14:02] HieronymusLex commented on #140
@hasanbalci seems to be working - thanks! One issue I'm running into is if I:
1. collapse a node
2. store the result of `saveJson` then refresh the page, and pass the previously stored result to `loadJson`
3. try to expand the collapsed node

only the collapsed children appear correctly, not the "collapsed edges". The console displays an error saying:

[code]

which is caused by `parent` being und